*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, darkblue 0%, darkblue 5%, hsl(220, 100%, 35%) 35%,hsl(220, 100%, 35%) 65%, darkblue 95%, darkblue 100%);
    font-family: 'Poppins'
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    height: 60px;
}

header h1 {
    color: white;
    text-shadow: 0px 0px 2px black;
}

#background {
    display: flex;
    height: 100vh;
    margin-top: -60px;
    justify-content: center;
    align-items: center;
}

#background fieldset {
    width: 395px;
    height: 550px;
    border-radius: 15px;
    border: none;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5)
}

#background form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    align-items: center;
    width: 395px;
}

#background form input {
    width: 265px;
    height: 47px;
    border-radius: 10px;
    padding-inline: 1rem;
    background-color: hsl(0, 0%, 85%);
    border: 1px solid gray;
    font-size: 1.1rem;
    margin-bottom: 1.4rem;
    outline: none;
    color: black;
}

#background form button {
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    width: 220px;
    border: none;
    background-color: hsl(250, 100%, 25%);
    color: white;
    font-weight: bold;
}

#background #registration-section {
    background-color: rgba(255, 255, 255, 0.25);
}

#background #login-section {
    position: absolute;
    bottom: -30.2rem;
    background-color: hsl(0, 0%, 85%);
    border-radius: 70px 70px 0 0;
    transition: 0.9s;
    transition-timing-function: ease-in-out;
    border: none;
}

#background #login-section input:first-of-type {
    margin-top: 1rem;
}

/* LOGIN / REGISTER TITLES */

#background #login-section label {
    color:hsl(250, 100%, 25%);
    cursor: pointer;
    transition: 0.7s;
    margin-top: -15.8rem;
    margin-bottom: 2rem;
}

#background #registration-section h1 {
    font-size: 3.1rem;
    color: white;
    transition: 0.7s;
    margin-top: -2rem;
    margin-bottom: 4rem;
}

/* APPEAR LOGIN WINDOW */

#on-off:checked ~ #login-section {
    bottom: -10.5rem;
}

#on-off:checked ~ #registration-section h1 {
    transform: scale(0.6)
}

#on-off:checked ~ #login-section label {
    font-size: 1.6rem;
    margin-top: -13rem;
    margin-bottom: 1rem;
}

input[type='checkbox'] {
    display: none;
}

