*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --outer-color: rgb(0, 0, 70);
    --inner-color: rgb(0, 0, 95);
}

body {
    background: linear-gradient(180deg, var(--outer-color) 0%, var(--outer-color) 5%, var(--inner-color) 35%,var(--inner-color) 65%, var(--outer-color) 95%, var(--outer-color) 100%);
}

header {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    height: 60px;
}

header h1 {
    color: white;
    text-shadow: 0px 0px 2px black;
    font-family: 'Poppins';
}

#background {
    display: flex;
    height: 100vh;
    margin-top: -60px;
    justify-content: center;
    align-items: center;
}

#background fieldset {
    width: 395px;
    height: 550px;
    border-radius: 15px;
    border: none;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.35);
}

#background fieldset form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    align-items: center;
    width: 395px;
}

#background form input {
    width: 265px;
    height: 47px;
    border-radius: 6px;
    padding-inline: 1rem;
    background-color: hsl(0, 0%, 85%);
    border: 1px solid gray;
    font-size: 1.1rem;
    margin-bottom: 1.4rem;
    outline: none;
}

#background form button {
    width: 220px;
    height: 45px;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: hsl(250, 100%, 17%);
    color: white;
    font-weight: bold;
}

#background #registration-section {
    background-color: rgba(255, 255, 255, 0.25);
}

#background #login-section {
    position: absolute;
    bottom: -30.2rem;
    background-color: hsl(0, 0%, 85%);
    border-radius: 70px 70px 0 0;
    transition: 0.9s;
    transition-timing-function: ease-in-out;
    border: none;
}

#background #login-section input:first-of-type {
    margin-top: 1rem;
}

/* LOGIN / REGISTER TITLES */

#background #login-section label {
    color:hsl(250, 100%, 18%);
    cursor: pointer;
    transition: 0.7s;
    margin-top: -15.8rem;
    margin-bottom: 2rem;
    font-family: 'Poppins'
}

#background #registration-section h1 {
    font-size: 3.1rem;
    color: white;
    transition: 0.7s;
    margin-top: -2rem;
    margin-bottom: 4rem;
    font-family: "Poppins"
}

/* APPEAR LOGIN WINDOW */

#on-off:checked ~ #login-section {
    bottom: -10.5rem;
}

#on-off:checked ~ #registration-section h1 {
    transform: scale(0.6)
}

#on-off:checked ~ #login-section label {
    font-size: 1.6rem;
    margin-top: -13rem;
    margin-bottom: 1rem;
}

input[type='checkbox'] {
    display: none;
}