* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

:root {
    --posts-header-color: rgb(240, 240, 240);
    --reactions-color: rgb(240, 240, 240);
    --interactions-color: rgb(240, 240, 240);
    --comments-color: rgb(251, 251, 251);
    --enter-comment-color: rgb(235, 235, 235);
    --comment-color: rgb(235, 235, 235);
    --upload-file-color: rgb(235, 235, 235);
}

.bold {
    font-weight: 800;
}

#background-image {
    width: 100%;
    margin-inline: auto;
    height: 250px;
}

#background-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#foreground-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    left: 25rem;
    top: -5rem;
    border: 5px solid white;
}

#foreground-image img {
    width: 100%;
    border-radius: 50%;
}

/* HEADER NAVIGATION */

header a {
    text-decoration: none;
    color: black;
}

.navigation {
    display: flex;
    position: absolute;
    align-items: center;
    right: 4rem;
    height: 53.75px;
    width: 53.75px;
    background-color: hsl(0, 0%, 80%);
    border-radius: 25px;
    padding-inline: 1rem;
    overflow: hidden;
    transition-duration: 0.5s;
}

#home {
    top: 27rem;
}

#settings {
    top: 34rem;
}

.navigation p {
    font-size: 2rem;
    margin-left: 4.7rem;
    font-family: 'Open Sans'
}

#home:hover {
    width: 130px;
}

#settings:hover {
    width: 150px;
}

#informations {
    position: absolute;
    left: 45rem;
    width: 300px;
    top: 26rem;
    font-size: 2.5rem;
}

#informations p {
    font-size: 2rem;
    margin-top: 0.5rem;
}

#informations #profiles-wrapper {
    display: flex;
    margin-top: 1rem;
    width: 163px;
    position: relative;
}

#informations #profiles-wrapper .fas.fa-ellipsis-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    color: gray;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#informations .profile-friend {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

#informations .profile-friend #curtain {
    position: absolute;
    width: 100%;
}

#informations .profile-friend:not(:first-of-type) {
    margin-left: -1rem;
}

#first-header button[type="submit"] {
    position: absolute;
    right: 25rem;
    top: 30rem;
    width: 215px;
    height: 50px;
    background-color: hsl(0, 0%, 92%);
    border-radius: 10px;
    font-size: 2.6rem;
    cursor: pointer;
    border: none;
}

#first-header button[type="submit"]:hover {
    background-color: hsl(0, 0%, 88%)
}

#first-header hr {
    width: 80%;
    margin-inline: auto;
    margin-top: -2.5rem;
}

#first-header #sections {
    display: flex;
    gap: 5rem;
    font-size: 2.8rem;
    margin-left: 23rem;
    margin-top: 2rem;
    position: relative;
}

#first-header #sections p {
    cursor: pointer;
    padding: 0.5rem;
    font-weight: bold;
}

#first-header #sections hr {
    position: absolute;
    width: 115px;
    height: 5px;
    background-color: hsl(220, 60%, 35%);
    bottom: -19px;
    border-radius: 100px;
    display: none;
}

#first-header #sections hr:nth-of-type(1) {
    left: -20px;
}

#first-header #sections hr:nth-of-type(2) {
    left: 111px;
}

#first-header #sections hr:nth-of-type(3) {
    left: 250px;
}

#first-header #sections hr:nth-of-type(4) {
    left: 391.5px;
}

#first-header #sections p:active {
    border-radius: 10px;
    background-color: hsl(240, 0%, 90%);
}

#first-header {
    border-bottom: 1px solid gray;
    padding-bottom: 1.6rem;
}

#container-posts-section {
    position: relative;
    width: 1200px;
    margin-inline: auto;
    padding: 1rem;
    margin-top: 1rem;
}

#container-posts-section #additional-info-posts-section #user-info {
    width: 450px;
    padding: 2rem;
    border-radius: 10px;
    padding-bottom: 2.5rem;
    background-color: white;
    box-shadow: 0px 1px 2px 1px hsl(0, 0%, 80%);
    position: sticky;
    top: 1rem;
}

#container-posts-section #user-info h2 {
    font-size: 3rem;
    margin-bottom: -1rem;
}

#container-posts-section #user-info p {
    font-size: 2.3rem;
    margin-top: 0.8rem;
    margin-left: 3.5rem;
}

#container-posts-section #user-info .fas {
    font-size: 2rem;
    position: relative;
    top: 3rem;
}

#container-posts-section #user-info .fas.fa-location-dot {
    left: 0.55rem;
}

#container-posts-section #user-info .fas.fa-house {
    left: 0.2rem;
}

#container-posts-section #user-info .fas.fa-scroll {
    left: 0.2rem;
}

#container-posts-section #add-post {
    position: absolute;
    right: 10rem;
    top: 2rem;
    padding-inline: 2.7rem;
    padding-bottom: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0.9px 2px 1px hsl(0, 0%, 80%);
    overflow: hidden
}

#container-posts-section #add-post #profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    bottom: -2rem;
    right: 1rem;
}

#container-posts-section #add-post input[type="text"] {
    width: 430px;
    height: 45px;
    border-radius: 30px;
    padding-inline: 1rem;
    font-size: 1.7rem;
    outline: none;
    border: none;
    background-color: hsl(0, 10%, 95%);
}

#container-posts-section #add-post input[type="text"]:hover {
    background-color: hsl(0, 0%, 92%)
}

#container-posts-section #add-post hr {
    width: 113%;
    margin-left: -2.7rem;
    margin-block: 1.5rem;
}

#container-posts-section #add-interactions {
    width: 69%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    height: 15px;
}

#container-posts-section #add-interactions label {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
}

#container-posts-section #add-post i {
    font-size: 2.4rem;
}

#container-posts-section #add-post p {
    font-size: 2.4rem;
    margin-left: 3.8rem;
}

#container-posts-section input[type="file"] {
    display: none;
}

#container-posts-section #user-posts {
    position: absolute;
    right: 10rem;
    border-radius: 10px;
    padding: 1rem;
}

/* PHOTOS */

#photo-wrapper, .photo-wrapper, #profile-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#photo-wrapper img, .photo-wrapper img, #profile-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
}

/* POSTS-SECTION */

#posts-container {
    position: absolute;
    max-width: 542px;
    right: 9.7rem;
    border-radius: 1rem;
    top: 19rem;
}

#posts-container header {
    width: 100%;
    padding: 1.3rem;
    background-color: var(--posts-header-color);
}

#posts-container .post header button {
    width: 31px;
    height: 12px;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    border: none;
}

#posts-container header .fas.fa-ellipsis {
    font-size: 3rem;
    top: -1rem;
    right: 0.10rem;
    pointer-events: none;
}

#posts-container header p {
    font-size: 1.8rem;
    margin-top: -2.4rem;
    margin-left: 4rem;
}

#posts-container #image-wrapper {
    overflow: hidden;
}

#posts-container #image-wrapper img {
    width: 100%;
    object-fit: cover;
}

#posts-container #reactions {
    height: 5rem;
    border-bottom: 0.2px solid hsl(240, 5%, 85%);
    padding-top: 1.3rem;
    background-color: var(--reactions-color)
}

#posts-container #profiles-wrapper {
    display: flex;
    margin-left: 1rem;
}

#posts-container #profile-wrapper {
    position: relative;
    width: 25px;
    height: 25px;
    bottom: 1px;
}

#posts-container #profile-wrapper:nth-child(2) {
    left: -1rem;
}

#posts-container #profile-wrapper:nth-child(3) {
    left: -2rem;
}

#posts-container p {
    position: absolute;
    font-size: 2rem;
    margin-left: 7.5rem;
}

/* INTERACTIONS SECTION */

#posts-container #interactions {
    display: flex;
    width: 100%;
    height: 4.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--interactions-color);
    font-size: 2.5rem;
    padding-inline: 2rem;
}

#posts-container #interactions .fa-message {
    position: absolute;
    left: 8rem;
    transform: translate(0, -50%);
    font-size: 2.3rem;
    cursor: pointer;
}

#posts-container #interactions .fas.fa-share {
    right: 3rem;
}

/* COMMENTS SECTION */

#posts-container #comments {
    width: 100%;
    height: 22rem;
    background-color: var(--comments-color);
}

#posts-container #comments input[type='text'] {
    position: absolute;
    width: 90%;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -6%);
    height: 4rem;
    padding: 1.8rem;
    border-radius: 1.5rem;
    font-size: 1.7rem;
    background-color: var(--enter-comment-color);
    border: none;
}

#posts-container #comments #comment-messages {
    width: 100%;
    height: 15.4rem;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    padding-bottom: 4rem;
    gap: 3rem;
    position: relative;
}

#posts-container #comments #comment-messages::-webkit-scrollbar {
    display: none;
}

#posts-container #comments input[type="file"] {
    display: none;
}

#posts-container #comments .fas {
    position: absolute;
    bottom: 2.2rem;
    font-size: 2rem;
    cursor: pointer;
}

#posts-container #comments .fa-image {
    right: 8rem;
}

#posts-container #comments .fa-video {
    right: 4rem;
}

/* COMMENTS */

#comment-content #profile-wrapper {
    position: relative;
    bottom: -2.7rem;
    margin-left: 2.5rem;
}

#comments #comment-messages #comment #comment-content p{
    z-index: 1;
}

#comments #comment-messages #comment #comment-content p::before{
    content: '';
    position: absolute;
    background-color: var(--comment-color);
    width: calc(100% + 2rem);
    left: -1rem;
    height: calc(100% + 0.5rem);
    z-index: -1;
    bottom: -0.25rem;
    border-radius: 10px;
    border-top: 1px solid gray;
}

#posts-container .post .post-options {
    position: absolute;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    top: 6rem;
    right: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    gap: 1.3rem;
    display: none;
}

#posts-container .post .post-options i {
    color: rgb(240, 240, 240);
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    transform: rotate(-90deg);
    top: -1rem;
}

#posts-container .post .post-options .close-sign {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 3rem;
    font-weight: bold;
    transform: rotate(45deg);
    cursor: pointer;
}

#posts-container .post .post-options button {
    cursor: pointer;
    border: none;
    font-size: 1.8rem;
    height: 35px;
    width: 146%;
}

#posts-container .post .post-options button:hover {
    background-color: hsl(0, 0%, 87%)
}

#posts-container .post {
    margin-bottom: 3rem;
    position: relative;
    box-shadow: 0px 1px 2px 1px hsl(0, 0%, 80%);
}

#report-background {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    padding-top: 32rem;
    z-index: 2;
    inset: 0;
}

#report-message {
    text-align: center;
    width: 350px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

#report-background #report-message i {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%)
}

#report-background #report-message p {
    margin-top: 6.6rem;
    cursor: default;
    font-size: 4rem;
}

/* ANIMATION OF LIKE */

#posts-container #interactions .fa-thumbs-up {
    cursor: pointer;
    color: black;
    transform-origin: center left;
}

.animation-like {
    animation-name: like-animation;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes like-animation {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-20deg) scale(1.1)
    }

    100% {
        transform: rotate(0deg);
        color: blue;
    }
}

/* ABOUT SECTION APPEARANCE */

#about-section {
    width: 100%;
}

#about-section #personal-info {
    width: 1200px;
    box-shadow: 0px 1px 2px 1px hsl(0, 0%, 80%);
    margin-inline: auto;
    border-radius: 10px;
    margin-top: 2.3rem;
    padding-inline: 1rem;
    padding-top: 1.5rem;
    position: relative;
    padding-bottom: 2.5rem;
}

#about-section #friends-about-section .all {
    margin-left: 100rem !important;
}

#about-section #personal-info h2 {
    font-size: 3rem;
    margin-bottom: -1.5rem;
    margin-left: 1rem;
}

.fas {
    font-size: 3rem;
    position: absolute;
}

#about-section #personal-info .left {
    left: 6.3rem;
    bottom: -2.5rem;
}

#about-section #personal-info .right {
    left: 110rem;
    background-color: hsl(0, 0%, 91%);
    padding: 0.8rem;
    border-radius: 50%;
    font-size: 2.2rem;
    cursor: pointer;
    margin-top: -2.8rem;
}

/* ABOUT SECTION ICONS LEFT */

#about-section #personal-info .fas.fa-house {
    left: 7rem;
    top: 11.6rem;
}

#about-section #personal-info .fas.fa-location-dot {
    left: 7.5rem;
    top: 17rem;
}

#about-section #personal-info .fas.fa-school {
    left: 7rem;
    top: 28rem;
}

#about-section #personal-info .fas.fa-scroll {
    left: 7rem;
    top: 33.5rem;
}

#about-section #personal-info .fas.fa-phone {
    left: 7.5rem;
    top: 44.5rem;
}

#about-section #personal-info .fas.fa-envelope {
    left: 7.5rem;
    top: 50rem;
}

#about-section #personal-info .fas.fa-person {
    left: 7rem;
    top: 61rem;
}

#about-section #personal-info .fas.fa-cake-candles {
    left: 6.6rem;
    top: 66rem;
}

#about-section #personal-info .fas.fa-children {
    left: 6.1rem;
    top: 71.5rem
}

#about-section #personal-info p {
    font-size: 2rem;
    margin-left: 11.6rem;
    margin-top: 3rem;
    pointer-events: none;
}

#about-section #personal-info span {
    margin-left: 0.1rem;
}

#about-section #personal-info h3 {
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: -1rem;
    margin-left: 4rem;
}

/* CHANGING VALUE OF INFO IN ABOUT SECTION (WINDOW APPEARANCE) */

#about-section #personal-info .change-value {
    position: absolute;
    width: 250px;
    margin-left: 11.5rem;
    height: 60px;
    display: none;
}

/* CHANGE VALUE IN ABOUT WINDOWS POSITION */

#about-section #personal-info .change-value:nth-of-type(1) {
    top: 10rem;
}

#about-section #personal-info .change-value:nth-of-type(2) {
    top: 15rem;
}

#about-section #personal-info .change-value:nth-of-type(3) {
    top: 26.5rem;
}

#about-section #personal-info .change-value:nth-of-type(4) {
    top: 31.8rem;
}

#about-section #personal-info .change-value:nth-of-type(5) {
    top: 42.5rem;
}

#about-section #personal-info .change-value:nth-of-type(6) {
    top: 48rem;
}

#about-section #personal-info .change-value:nth-of-type(7) {
    top: 59rem;
}

#about-section #personal-info .change-value:nth-of-type(8) {
    top: 68rem;
}

#about-section #personal-info .change-value:nth-of-type(9) {
    top: 70rem;
}

#about-section #personal-info .change-value input[type='text'] {
    position: relative;
    height: 45px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 90%);
    outline-color: hsl(200, 0%, 80%);
    border: none;
    padding-inline: 1rem;
    bottom: -1.3rem;
    font-size: 1.5rem;
}

#about-section #personal-info .change-value input[type='date'] {
    position: relative;
    height: 45px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 90%);
    outline-color: hsl(200, 0%, 80%);
    border: none;
    padding-inline: 1rem;
    bottom: 2.2rem;
    font-size: 1.5rem;
}

#about-section #personal-info .change-value .save.date {
    bottom: 3.1rem;
    right: 5.2rem;
}

#about-section #personal-info .change-value .close.date {
    bottom: 6.1rem;
    right: 5.2rem;
}

#about-section #personal-info .change-value span {
    position: absolute;
    left: 1rem;
    top: 2.2rem;
    font-size: 2rem;
    pointer-events: none;
    color: gray;
    transition: 0.5s;
}

#about-section #personal-info .change-value input[value = 'Save'], #about-section #personal-info .change-value input[value = 'Close'] {
    position: absolute;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

#about-section #personal-info .change-value input[value = 'Save'] {
    right: -1.5rem;
    bottom: -0.3rem;
    padding-inline: 0.7rem;
}

#about-section #personal-info .change-value input[value = "Close"] {
    right: -1.5rem;
    bottom: 2.8rem;
}

#about-section #personal-info .new-changes.unused {
    display: none;
}

#about-section #personal-info .change-value.last {
    bottom: 2.5rem !important;
}

#about-section #personal-info select {
    position: relative;
    height: 45px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 90%);
    outline-color: hsl(200, 0%, 80%);
    border: none;
    padding-inline: 1rem;
    font-size: 1.5rem;
    bottom: -1rem;
}

#about-section #personal-info .change-value .save.select {
    right: 3.4rem;
}

#about-section #personal-info .change-value .close.select {
    right: 3.4rem;
}

#about-section #personal-info .change-value.other-place {
    bottom: 2rem;
}


/* ABOUT SECTION EDIT EFFECT */

#about-section #personal-info .right:hover {
    background-color: hsl(0, 0%, 86%)
}

#about-section #personal-info .change-value input[type='text']:valid ~ span, #about-section #personal-info .change-value input[type='text']:focus ~ span {
    transform: translate(-1px, -7px);
    font-size: 1.1rem;
}

/* FRIENDS SECTION */

#friends-about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    box-shadow: 0px 1px 2px 1px hsl(0, 0%, 80%);
    margin-inline: auto;
    border-radius: 10px;
    margin-top: 2.3rem;
    padding: 5rem 0 2rem 3rem
}

#friends-about-section h2 {
    position: absolute;
    font-size: 3rem;
    margin-left: -1.7rem;
    margin-top: -3.5rem;
}

#friends-about-section #friends-num {
    position: absolute;
    font-size: 1.7rem;
    margin-left: -1.7rem;
    margin-top: 0rem;
    color: gray;
}

#friends-about-section .all {
    color: blue;
    position: absolute;
    margin-left: 26rem;
    margin-top: -1.7rem;
    font-size: 2rem;
    cursor: pointer;
}

#friends-about-section .all:hover {
    background-color: hsl(0, 0%, 92%);
    padding: 1rem;
    transform: translateY(-10px) translateX(-10px);
    border-radius: 10px;
}

#friends-about-section .friend {
    position: relative;
    width: 530px;
    margin-top: 3.5rem;
}

#friends-about-section .friend img {
    width: 85px;
    height: 75px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px hsla(0, 0%, 20%, 0.8);
}

#friends-about-section .friend h4 {
    position: absolute;
    font-size: 2.3rem;
    left: 10rem;
    top: 20%
}

#friends-about-section .friend .number-of-friends {
    position: absolute;
    font-size: 1.4rem;
    left: 9.9rem;
    top: 55%;
    color: hsl(0, 0%, 60%);
}

#friends-about-section .friend .friend-options-on {
    position: absolute;
    right: -0.5rem;
    top: 3.6rem;
    font-size: 2.4rem;
    cursor: pointer;
    width: 20px;
    height: 6px;
}

#friends-about-section .friend .friend-options-window {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    width: 130px;
    height: 100px;
    position: absolute;
    right: 3rem;
    top: -1.4rem;
    border-radius: 5px;
    padding: 0.5rem;
    padding-top: 0.2rem;
}

#friends-about-section .friend .friend-options-window .friend-option {
    width: 90%;
    position: relative;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 3px;
    padding-left: 3.5rem;
    cursor: pointer;
}

#friends-about-section .friend .friend-options-window .friend-option i {
    position: absolute;
    font-size: 1.5rem;
    left: 1rem;
    top: 0.5rem;
    pointer-events: none;
}

#friends-about-section .friend .friend-options-window .friend-option p {
    pointer-events: none;
}

#friends-about-section .friend .friend-options-window .friend-option:hover {
    background-color: hsl(0, 0%, 90%)
}

#friends-about-section .fas.fa-ellipsis-vertical {
    position: absolute;
    right: 0.5rem;
    transform: rotate(90deg);
    font-size: 2.4rem;
    top: -1.1rem;
    background-color: white;
    pointer-events: none;
}

#friends-about-section .friend .add-friend {
    display: none;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    right: -3rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#friends-about-section .friend .add-friend:hover {
    background-color: hsl(0, 0%, 90%)
}

#photos-about-section {
    display: flex;
    width: 1050px;
    box-shadow: 0px 1px 2px 1px hsl(0, 0%, 80%);
    padding-top: 7.5rem;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-inline: auto;
    margin-top: 2.3rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    padding-left: 3.4rem;
    position: relative;
}

#photos-about-section h2 {
    position: absolute;
    font-size: 3rem;
    left: 3rem;
    top: 2rem;
}

#photos-about-section img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px hsla(0, 0%, 20%, 0.8);
}

#photos-about-section span {
    position: relative;
    width: 23%;
    cursor: pointer;
}

#photos-about-section span::after {
    position: absolute;
    content: '';
    width: 100%;
    inset: 0;
}

#photos-about-section span:hover::after {
    background-color: rgba(0, 0, 0, 0.1)
}

#container-posts-section #additional-info-posts-section {
    width: 450px;
}

#container-posts-section #additional-info-posts-section #photos-about-section {
    width: 450px;
    margin-left: 0;
    position: sticky;
    top: 26.5rem;
    padding-left: 2.2rem;
}

#container-posts-section #additional-info-posts-section #friends-about-section {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    column-gap: 1.4rem;
    position: sticky;
    top: 59rem;
    padding-bottom: 0;
}

#container-posts-section #additional-info-posts-section #user-info {
    position: sticky;
    top: 1rem;
}

#container-posts-section #photos-about-section span {
    width: 125px;
}

#container-posts-section #photos-about-section h2 {
    margin-left: -1.2rem;
}

#container-posts-section #friends-about-section .friend {
    position: relative;
    width: 120px;
    margin-top: 3rem;
}

#container-posts-section #friends-about-section #all {
    margin-left: 60%;
}

#container-posts-section #friends-about-section .friend img {
    width: 120px;
    height: 125px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px hsla(0, 0%, 20%, 0.8);
    object-fit: cover;
}

#container-posts-section #friends-about-section .friend h4 {
    position: absolute;
    font-size: 1.5rem;
    left: 0.5rem;
    top: 13rem;
}

#container-posts-section #friends-about-section .friend p {
    display: none;
}

#container-posts-section #friends-about-section .fas.fa-ellipsis-vertical {
    display: none;
}

@media only screen and (max-width: 1300px) {

    /* PHOTOS SECTION SETTINGS */

    #photos-about-section {
        width: 850px;
        padding-left: 2rem;
    }

    #photos-section #photos-about-section h2 {
        left: 1.7rem;
    }

    /* ABOUT SECTION SETTINGS */

    #about-section #personal-info, #friends-about-section {
        width: 1100px;
    }

    #about-section #personal-info .right {
        left: 100rem;
    }

    #about-section #friends-about-section .all {
        margin-left: 90rem !important;
    }

    #friends-about-section .friend {
        width: 470px;
    }
}

@media only screen and (max-width: 1150px) {
    #posts-container {
        width: 450px;
        right: 24rem;
    }

    #container-posts-section #add-post {
        width: 450px;
        right: 24rem;
    }

    #container-posts-section #add-post input[type="text"] {
        width: 30rem;
        margin-left: 1rem;
    }

    #posts-container .post #image-wrapper img {
        object-fit: cover;
    }

    #additional-info-posts-section #friends-about-section {
        margin-left: 0rem;
    }

    /* RESPONSIVE FOR HEADER IN PROFILE.HTML */

    #first-header hr {
        margin-top: 18rem;
        width: 650px;
        margin-left: 21.5rem;
    }

    #first-header #sections {
        margin-left: 29rem;
    }

    #first-header #sections .underline {
        margin-left: 0;
    }

    #first-header button[type="submit"] {
        left: 43.5rem;
        top: 53.5rem;
    }

    #first-header #foreground-image {
        left: 45rem;
    }

    #first-header #informations {
        /* background-color: red; */
        top: 40rem;
        left: 45.5rem;
    }

    #first-header #informations p{
        margin-left: 3.2rem;
    }

    /* HEADER NAVIGATION SETTINGS */

    #first-header #home {
        left: 77rem;
        top: 53.5rem;
    }

    #first-header #settings {
        left: 26rem;
        top: 53.5rem;
    }

    /* PHOTOS SECTION SETTINGS */

    #photos-about-section {
        margin-left: 13rem;
    }

    /* ABOUT SECTION SETTINGS */

    #about-section #personal-info, #friends-about-section {
        width: 850px;
        margin-left: 12rem;
    }

    #about-section #personal-info .right {
        left: 75rem;
    }

    #about-section #friends-about-section .all {
        margin-left: 66rem !important;
    }

    #friends-about-section .friend {
        width: 360px;
    }
}

@media only screen and (max-width: 1000px) {

    #first-header #sections {
        margin-left: 29rem;
    }

    #first-header hr {
        margin-left: 15rem;
    }


    #first-header #foreground-image {
        left: 38rem;
    }

    #first-header #informations {
        top: 40rem;
        left: 39rem;
    }

    #first-header button[type="submit"] {
        left: 36.5rem;
    }

    #first-header #sections {
        margin-left: 22.5rem;
    }

    /* HEADER NAVIGATION SETTINGS */

    #first-header #home {
        left: 68rem;
        top: 53.5rem;
    }

    #first-header #settings {
        left: 19rem;
        top: 53.5rem;
    }

    /* MAIN SECTION RESPONSIVE SETTINGS*/

    #container-posts-section #additional-info-posts-section {
        left: 50%;
        transform: translate(-80%);
        position: absolute;
    }

    #container-posts-section #additional-info-posts-section #user-info {
        position: absolute;
        width: 500px;
    }

    #container-posts-section #additional-info-posts-section #photos-about-section {
        position: absolute;
        top: 23.5rem;
        width: 500px;
    }

    #container-posts-section #additional-info-posts-section #photos-about-section span {
       width: 142px;
    }

    #container-posts-section #additional-info-posts-section #friends-about-section{
        position: absolute;
        top: 57rem;
        width: 500px;
    }

    #container-posts-section #additional-info-posts-section #friends-about-section .friend:not(:nth-child(3n + 1)) {
        margin-left: 2.5rem;
    }

    #container-posts-section #additional-info-posts-section #friends-about-section .all {
        margin-left: 32rem;
    }

    #container-posts-section #add-post {
        width: 500px;
        top: 101rem;
        left: 24rem;
    }

    #posts-container {
        width: 500px;
        top: 117rem;
        left: 24rem;
    }

    /* PHOTOS SECTION SETTINGS */

    #photos-about-section {
        margin-left: 12rem;
        width: 720px;
        padding-left: 1.2rem;
    }

    #photos-section #photos-about-section h2 {
        left: 1.7rem;
    }

    /* ABOUT SECTION SETTINGS */

    #about-section #personal-info, #friends-about-section {
        width: 700px;
        margin-left: 12.5rem;
    }

    #about-section #personal-info .right {
        left: 60rem;
    }

    #about-section #friends-about-section .all {
        margin-left: 52rem !important;
    }

    #friends-about-section .all {
        margin-left: 50rem;
    }

    #friends-about-section .friend {
        width: 285px;
    }
}

@media only screen and (max-width: 850px) {
    #first-header #sections {
        margin-left: 19rem;
    }

    #first-header hr {
        margin-left: 13.5rem;
        margin-top: 25rem;
        width: 550px;
    }

    #first-header #foreground-image {
        left: 31.5rem;
    }

    #first-header #informations {
        left: 32rem;
    }

    #first-header button[type="submit"] {
        left: 29.5rem;
    }

    #first-header #sections {
        margin-left: 16.5rem;
    }

    /* HEADER NAVIGATION SETTINGS */

    #first-header #home {
        left: 50rem;
        top: 60.5rem;
    }

    #first-header #settings {
        left: 26rem;
        top: 60.5rem;
    }

    /* MAIN SECTION RESPONSIVE SETTINGS*/

    #container-posts-section #additional-info-posts-section {
        left: 49%;
    }

    #container-posts-section #additional-info-posts-section #photos-about-section {
        width: 400px;
    }

    #container-posts-section #additional-info-posts-section #photos-about-section span {
        width: 110px;
    }

    #container-posts-section #additional-info-posts-section #user-info {
        width: 400px;
    }

    #container-posts-section #additional-info-posts-section #friends-about-section{
        top: 53rem;
        width: 400px;
    }

    #container-posts-section #additional-info-posts-section #friends-about-section .all {
        margin-left: 22rem;
    }

    #container-posts-section #additional-info-posts-section #friends-about-section .friend {
        width: 100px;
        margin-left: -0.9rem;
    }

    #container-posts-section #additional-info-posts-section #friends-about-section .friend:not(:nth-child(3n + 1)) {
        margin-left: 1rem;
    }

    #container-posts-section #additional-info-posts-section #friends-about-section .friend h4{
        top: 10.5rem;
    }

    #container-posts-section #additional-info-posts-section #friends-about-section .friend img{
        width: 110px;
        height: 100px;
    }

    #container-posts-section #add-post {
        width: 400px;
        top: 92rem;
        left: 22.7rem;
    }

    #container-posts-section #add-post input[type="text"] {
        width: 275px;
    }

    #posts-container {
        width: 400px;
        left: 22.7rem;
        top: 107.5rem;
    }

    /* PHOTOS SECTION */

    #photos-about-section span {
        width: 31%;
    }

    #photos-about-section {
        width: 560px;
        padding-right: 0.3rem;
        margin-left: 12.9rem;
    }

    /* ABOUT SECTION SETTINGS */

    #about-section #personal-info, #friends-about-section {
        width: 500px;
        margin-left: 16.3rem;
    }

    #about-section #personal-info p {
        font-size: 1.8rem;
    }

    #about-section #personal-info .right {
        left: 43rem;
    }

    #about-section #personal-info h2 {
        margin-left: 0.5rem;
    }

    #about-section #personal-info h3 {
        margin-left: 1.5rem;
    }

    #about-section #personal-info .left {
        left: 4rem;
    }

    #about-section #personal-info .fas.fa-house {
        top: 11.6rem;
    }

    #about-section #personal-info .fas.fa-location-dot {
        top: 16.8rem;
    }

    #about-section #personal-info .fas.fa-school {
        top: 27.3rem;
    }

    #about-section #personal-info .fas.fa-scroll {
        top: 33rem;
    }

    #about-section #personal-info .fas.fa-phone {
        top: 43.9rem;
    }

    #about-section #personal-info .fas.fa-envelope {
        top: 48.7rem;
    }

    #about-section #personal-info .fas.fa-person {
        top: 59.7rem;
    }

    #about-section #personal-info .fas.fa-cake-candles {
        top: 64.5rem;
    }

    #about-section #personal-info .fas.fa-children {
        top: 69.7rem
    }

    /* CHANGING VALUE OF INFO SETTINGS */

    #about-section #personal-info .change-value {
        width: 205px;
    }

    #about-section #personal-info .change-value input[type='text'], #about-section #personal-info .change-value select,#about-section #personal-info .change-value input[type='date'] {
        width: 160px;
        height: 45px;
    }

    #about-section #personal-info .change-value input[type='text']:focus ~ span,
    #about-section #personal-info .change-value input[type='text']:valid ~ span{
        transform: translate(-2px, -10px)
    }

    #about-section #personal-info .change-value span {
        font-size: 1.8rem;
        margin-top: 0.2rem;
    }

    #about-section #personal-info .change-value:nth-of-type(1) {
        top: 9.7rem;
    }

    #about-section #personal-info .change-value:nth-of-type(2) {
        top: 15rem;
    }

    #about-section #personal-info .change-value:nth-of-type(3) {
        top: 25.8rem;
    }

    #about-section #personal-info .change-value:nth-of-type(4) {
        top: 30.8rem;
    }

    #about-section #personal-info .change-value:nth-of-type(5) {
        top: 42rem;
    }

    #about-section #personal-info .change-value:nth-of-type(6) {
        top: 47rem;
    }

    #about-section #personal-info .change-value:nth-of-type(7) {
        top: 58rem;
        width: 250px;
    }

    #about-section #personal-info .change-value:nth-of-type(8) {
        top: 66.3rem;
        width: 270px;
    }

    #about-section #personal-info .change-value:nth-of-type(9) {
        top: 68rem;
    }

    #about-section #friends-about-section .all {
        margin-left: 32rem !important;
    }

    #friends-about-section {
        grid-template-columns: 1fr
    }

    #friends-about-section .all {
        margin-left: 31rem;
    }

    #friends-about-section .friend {
        width: 400px;
    }

    #friends-about-section .friend img {
        width: 70px;
        height: 60px;
    }

    #friends-about-section .friend h4 {
        top: 1rem;
        left: 8rem;
    }

    #friends-about-section .friend .number-of-friends {
        top: 3.5rem;
        left: 8rem;
    }

}

@media only screen and (max-width: 700px) {
    #first-header #sections {
        margin-left: 14rem;
        font-size: 2.4rem;
    }

    #first-header hr {
        margin-left: 11rem;
        width: 450px;
    }

    #first-header #foreground-image {
        left: 25rem;
    }

    #first-header #informations {
        left: 26rem;
    }

    #first-header button[type="submit"] {
        left: 22.9rem;
    }

    #first-header #sections p {
        margin-right: -2rem;
    }

    #first-header #sections hr {
        width: 90px;
    }

    #first-header #sections hr:nth-of-type(1) {
        left: -1.3rem;
    }

    #first-header #sections hr:nth-of-type(2) {
        left: 8.9rem;
    }

    #first-header #sections hr:nth-of-type(3) {
        left: 19.6rem;
    }

    #first-header #sections hr:nth-of-type(4) {
        width: 100px;
        left: 30.2rem;
    }

    /* HEADER NAVIGATION SETTINGS */

    #first-header #home {
        left: 42rem;
        top: 60.5rem;
    }

    #first-header #settings {
        left: 20rem;
        top: 60.5rem;
    }

    /* MAIN SECTION RESPONSIVE SETTINGS*/

    #container-posts-section #additional-info-posts-section {
        left: 42%;
    }

    #container-posts-section #add-post {
        left: 14.3rem;
    }

    #posts-container {
        left: 14.3rem;
    }

    /* PHOTOS SECTION */

    #photos-about-section span {
        width: 30%;
    }

    #photos-about-section {
        width: 450px;
        padding-right: 0rem;
        margin-left: 11.2rem;
    }

    /* ABOUT SECTION SETTINGS */

    #about-section #personal-info, #friends-about-section {
        margin-left: 9rem;
    }

}

@media only screen and (max-width: 640px) {

    #first-header hr {
        margin-left: 4rem;
        margin-top: 24rem;
        width: 400px;
    }

    #first-header #foreground-image {
        left: 14rem;
    }

    #first-header #informations {
        left: 15rem;
    }

    #first-header button[type="submit"] {
        left: 12.5rem;
    }

    #first-header #sections {
        margin-left: 4.5rem;
    }

    /* HEADER NAVIGATION SETTINGS */

    #first-header #home {
        left: 32rem;
        top: 60.5rem;
    }

    #first-header #settings {
        left: 10rem;
        top: 60.5rem;
    }

    /* MAIN SECTION RESPONSIVE SETTINGS*/

    #container-posts-section #additional-info-posts-section {
        left: 33%;
    }

    #container-posts-section #additional-info-posts-section #photos-about-section {
        width: 400px;
    }

    #container-posts-section #additional-info-posts-section #user-info {
        width: 400px;
    }

    #container-posts-section #additional-info-posts-section #friends-about-section{
        top: 53rem;
        width: 400px;
    }

    #container-posts-section #add-post {
        width: 400px;
        top: 92rem;
        left: 3.5rem;
    }

    #container-posts-section #add-post input[type="text"] {
        width: 275px;
    }

    #posts-container {
        width: 400px;
        left: 3.5rem;
        top: 108rem;
    }

    /* PHOTOS SECTION */

    #photos-section #photos-about-section {
        margin-left: 2.7rem;
        gap: 1.4rem;
        padding-left: 1.4rem;
    }

    /* ABOUT SECTION SETTINGS */

    #about-section #personal-info, #friends-about-section {
        margin-left: 4rem;
        width: 400px;
    }

    #about-section #personal-info .right {
        font-size: 1.8rem !important;
        padding: 0.6rem;
        margin-left: -8rem;
        margin-top: -2.5rem;
    }

    /* ABOUT SECTION ICONS LEFT */

    #about-section #personal-info .fas {
        font-size: 2.7rem;
    }

    #about-section #personal-info .fas.fa-house {
        left: 3rem;
        top: 11.6rem;
    }

    #about-section #personal-info .fas.fa-location-dot {
        left: 3.5rem;
        top: 16.5rem;
    }

    #about-section #personal-info .fas.fa-school {
        left: 3rem;
        top: 26.8rem;
    }

    #about-section #personal-info .fas.fa-scroll {
        left: 3rem;
        top: 32rem;
    }

    #about-section #personal-info .fas.fa-phone {
        left: 3.5rem;
        top: 42.5rem;
    }

    #about-section #personal-info .fas.fa-envelope {
        left: 3.5rem;
        top: 47.3rem;
    }

    #about-section #personal-info .fas.fa-person {
        left: 3.8rem;
        top: 57.7rem;
    }

    #about-section #personal-info .fas.fa-cake-candles {
        left: 3.4rem;
        top: 62.5rem;
    }

    #about-section #personal-info .fas.fa-children {
        left: 2.9rem;
        top: 67.3rem
    }

    #about-section #personal-info h2 {
        margin-left: 0rem
    }

    #about-section #personal-info h3 {
        margin-left: 1rem;
    }

    /* CHANGING VALUE OF INFO SETTINGS */

    #about-section #personal-info .change-value {
        width: 160px;
        height: 55px;
        left: -3.6rem;
    }

    #about-section #personal-info .change-value input[type='text'], #about-section #personal-info .change-value select, #about-section #personal-info .change-value input[type='date'] {
        width: 120px;
        height: 35px;
        font-size: 1.3rem;
        padding-top: 0.4rem;
    }

    #about-section #personal-info .change-value input[type='text']:focus ~ span,
    #about-section #personal-info .change-value input[type='text']:valid ~ span{
        transform: translate(-2px, -8.5px);
        font-size: 0.9rem;
    }

    #about-section #personal-info .change-value span {
        font-size: 1.4rem;
        margin-top: 0;
    }

    #about-section #personal-info .change-value:nth-of-type(4) {
        top: 30.4rem;
    }

    #about-section #personal-info .change-value:nth-of-type(5) {
        top: 41rem;
    }

    #about-section #personal-info .change-value:nth-of-type(6) {
        top: 46rem;
    }

    #about-section #personal-info .change-value:nth-of-type(7) {
        top: 56.5rem;
        width: 210px;
    }

    #about-section #personal-info .change-value:nth-of-type(8) {
        top: 64.3rem;
        width: 250px;
    }

    #about-section #personal-info .change-value:nth-of-type(9) {
        top: 66rem;
    }

    #about-section #personal-info .personal-info {
        margin-left: 7rem;
        font-size: 1.6rem;
    }

    #about-section #friends-about-section .all {
        margin-left: 21rem !important;
    }

    #friends-about-section .friend {
        width: 320px;
    }
}