* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --main-elements-color: rgb(240, 240, 240);
    --window-color: rgb(220, 220, 220);
    --window-element-hover-color: hsl(0, 0%, 82%);
    --text-color: black;
    --shadow-color: hsl(0, 0%, 80%);

    --other-elements-color: rgb(225, 225, 225);
    --other-elements-hover-color: rgb(220, 220, 220);

    --posts-border-bottom-color: hsl(0, 0%, 89%);
    --post-options-button-hover-color: hsl(0, 0%, 90%);

    --report-message-color: white;

    --comments-color: rgb(251, 251, 251);
    --comment-color: rgb(235, 235, 235);

    --accept-button-color: hsl(200, 100%, 35%);
    --accept-button-hover-color: hsl(200, 100%, 30%);
    --decline-button-color: hsl(0, 0%, 85%);
    --decline-button-hover-color: hsl(0, 0%, 80%);
    --accept-buttons-font-color: linen;

    --brightness: 1;
}

.dark-mode {
    --clr-bg: rgba(0, 0, 0, 0.9);
    --main-elements-color: rgb(50, 50, 50);
    --window-color: rgb(40, 40, 40); 
    --window-element-hover-color: rgb(30, 30, 30); 
    --text-color: rgb(210, 210, 210);
    --shadow-color: rgb(70, 70, 70);

    --other-elements-color: rgb(45, 45, 45);
    --other-elements-hover-color: rgb(41, 41, 41);

    --posts-border-bottom-color: rgb(37, 37, 37);
    --post-options-button-hover-color: rgb(44, 44, 44);
    
    --report-message-color: rgb(20, 20, 20);

    --comments-color: rgb(55, 55, 55);
    --comment-color: rgb(45, 45, 45);

    --accept-button-color: hsl(200, 100%, 30%);
    --accept-button-hover-color: hsl(200, 100%, 25%);
    --decline-button-color: hsl(0, 0%, 80%);
    --decline-button-hover-color: hsl(0, 0%, 75%);

    --icons-color: rgb(210, 210, 210);
    --title-subtitle-color: white;

    --brightness: 0.85
}

*::-webkit-input-placeholder {
    opacity: 0.7;
    color: inherit;
}

.bold {
    font-weight: 800;
}

body {
    overflow-x: hidden;
    padding-bottom: 1rem;
    background-color: var(--clr-bg)
}

.fas {
    position: absolute;
}

#background-image {
    width: 100%;
    height: 250px;
}

#background-image img {
    width: 100%;
    height: 100%;
    filter: brightness(var(--brightness))
}

#foreground-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    left: 25rem;
    top: -5rem;
    border: 5px solid var(--posts-border-bottom-color);
    overflow: hidden;
}

#foreground-image img {
    width: 100%;
    filter: brightness(var(--brightness))
}

/* NAVIGATION IN FIRST HEADER */

#first-header {
    border-bottom: 1px solid var(--posts-border-bottom-color);
    padding-bottom: 1.6rem;
}

#first-header a {
    text-decoration: none;
    color: black;
}

#first-header #navigation-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-left: 3rem;
    width: 100px;
    right: 7rem;
    top: 26.2rem;
}

#first-header #navigation-window .navigation {
    position: relative;
    height: 55px;
    width: 55px;
    background-color: var(--other-elements-color);
    border-radius: 25px;
    transition-duration: 0.5s;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.2);
    color: var(--text-color)
}

#first-header #navigation-window .navigation i, 
#first-header #navigation-window .navigation i {
    font-size: 3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.5s;
    transition-delay: 0.3s;
}

#first-header #navigation-window .navigation span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins';
    font-size: 0;
    transition-duration: 0.5s;
}

/* navigation effects */

#first-header #navigation-window .navigation:hover {
    width: 150px;
}

#first-header #navigation-window .navigation:hover i {
    font-size: 0;
    transition-delay: 0ms;
    transition-duration: 0s;
}

#first-header #navigation-window .navigation:hover span {
    font-size: 2.3rem;
    letter-spacing: 1px;
}

/* INFO SECTION IN FIRST HEADER */

#first-header #informations {
    position: absolute;
    left: 45rem;
    width: 300px;
    top: 26rem;
}

#first-header #informations h3 {
    font-size: 2.5rem;
    color: var(--text-color)
}

#first-header #informations p {
    font-size: 2rem;
}

#first-header #informations .profiles-wrapper {
    display: flex;
    margin-top: 1rem;
    width: 163px;
    position: relative;
    filter: brightness(var(--brightness))
}

#first-header #informations .profiles-wrapper .fas.fa-ellipsis-vertical {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.3rem;
    transform: rotate(90deg);
    color: gray;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    cursor: pointer;
}

#first-header #informations .profiles-wrapper .profile-friend {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--posts-border-bottom-color);
    object-fit: cover;
}

#first-header #informations .profile-friend:not(:first-of-type) {
    margin-left: -1rem;
}

#first-header #informations .profile-friend:last-of-type {
    filter: brightness(0.5)
}

/* EDIT PROFILE BUTTON WITH TRANSITIONS IN FIRST HEADER */

#first-header button[type="submit"] {
    position: absolute;
    right: 25rem;
    top: 30rem;
    width: 215px;
    height: 50px;
    background-color: hsl(0, 0%, 80%);
    border-radius: 10px;
    font-size: 2.6rem;
    cursor: pointer;
    border: none;
    transition-duration: 0.3s;
    background-color: var(--other-elements-color);
    color: var(--text-color);
}

#first-header button[type="submit"]::after, #first-header button[type="submit"]::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    z-index: -1;
    transition-duration: 0.3s;
    background-color: inherit;
    opacity: 0.6
}

#first-header button[type="submit"]:hover {
    transform: translate(-10px, -10px)
}

#first-header button[type="submit"]:hover::after {
    transform: translate(5px, 5px)
}

#first-header button[type="submit"]:hover::before {
    transform: translate(10px, 10px);
}

#first-header hr {
    width: 80%;
    margin-inline: auto;
    margin-top: -2.5rem;
    border-color: var(--posts-border-bottom-color)
}

/* SECTIONS IN FIRST HEADER */

#first-header #sections {
    display: flex;
    gap: 5rem;
    font-size: 2.8rem;
    margin-left: 23rem;
    margin-top: 2rem;
    position: relative;
}

#first-header #sections p {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--text-color);
}

#first-header #sections hr {
    position: absolute;
    width: 115px;
    height: 5px;
    background-color: var(--accept-button-color);
    bottom: -19px;
    border-radius: 100px;
    display: none;
}

#first-header #sections hr:nth-of-type(1) {
    left: -20px;
}

#first-header #sections hr:nth-of-type(2) {
    left: 111px;
}

#first-header #sections hr:nth-of-type(3) {
    left: 250px;
}

#first-header #sections hr:nth-of-type(4) {
    left: 391.5px;
}

#first-header #sections p:active {
    background-color: var(--other-elements-hover-color);
}

/* ELEMENTS IN CONTAINER POSTS SECTION*/

#container-posts-section {
    position: relative;
    width: 1200px;
    margin-inline: auto;
    margin-top: 3rem;
}

/* ADDITIONAL INFO IN CONTAINER POSTS SECTION */

#container-posts-section #additional-info-posts-section {
    position: sticky;
    top: 1.1rem;
    width: 450px;
    height: 915px;
}

#container-posts-section #additional-info-posts-section #user-info,
#container-posts-section #additional-info-posts-section .photos-about-section,
#container-posts-section #additional-info-posts-section .friends-about-section {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 1px var(--shadow-color);
}

/* user info in additional info */

#container-posts-section #additional-info-posts-section #user-info {
    padding: 2rem;
    background-color: var(--main-elements-color)
}

#container-posts-section #additional-info-posts-section #user-info h2 {
    font-size: 3rem;
    margin-bottom: -1.5rem;
    margin-top: -0.5rem;
    color: var(--text-color)
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info {
    position: relative;
    border-bottom: 2px solid hsl(0, 0%, 86%);
    padding-bottom: 0.6rem;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info #user-input-text {
    width: 90%;
    margin-left: 2rem;
    overflow: hidden;
    text-align: center;
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info #add-bio-submit {
    width: 100%;
    height: 35px;
    transform: translateX(-50%);
    border: none;
    border-radius: 3px;
    background-color: var(--other-elements-color);
    font-weight: bold;
    cursor: pointer;
    display: none;
    margin-left: 50%;
    margin-top: 1rem;
    color: var(--text-color)
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info #add-bio-submit:hover {
    background-color: var(--other-elements-hover-color)
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 0.7rem;
    margin-bottom: -6rem;
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form #add-bio-text {
    resize: none;
    border: none;
    border-radius: 3px;
    background-color: hsl(0, 0%, 91%);
    padding: 0.5rem 1rem;
    outline: none;
    grid-column: 1 / 3 span;
    grid-row: 1 / 2;
    height: 90px;
    font-size: 1.7rem;
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form #letters-counter-bio {
    font-size: 1.7rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 150px;
    height: 25px;
    margin: 0;
    padding-top: 0.5rem;
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form .bio-buttons {
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    width: 65px;
    height: 30px;
    grid-row: 2 / 3;
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form #bio-save {
    background-color: var(--accept-button-color);
    color: var(--accept-buttons-font-color);
    grid-column: 3 / 4
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form #bio-cancel {
    background-color: var(--decline-button-color);
    grid-column: 3 / 4;
    margin-left: 8rem;
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form #bio-save:hover {
    background-color: var(--accept-button-hover-color)
}

#container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form #bio-cancel:hover {
    background-color: var(--decline-button-hover-color)
}

#container-posts-section #additional-info-posts-section #user-info p {
    font-size: 2.3rem;
    margin-top: 0.8rem;
    margin-left: 3.5rem;
    color: var(--text-color)
}

#container-posts-section #additional-info-posts-section #user-info .fas {
    font-size: 2rem;
    position: relative;
    top: 3rem;
    color: var(--icons-color)
}

#container-posts-section #additional-info-posts-section #user-info .fas.fa-location-dot {
    left: 0.55rem;
}

#container-posts-section #additional-info-posts-section #user-info .fas.fa-house {
    left: 0.2rem;
}

#container-posts-section #additional-info-posts-section #user-info .fas.fa-scroll {
    left: 0.2rem;
}

/* photos info in additional info */

#container-posts-section #additional-info-posts-section .photos-about-section {
    position: relative;
    padding-left: 2.2rem;
    margin-top: 0.7rem;
    padding-top: 6.5rem;
}

#container-posts-section #additional-info-posts-section .photos-about-section #all-photos {
    position: absolute;
    font-size: 2rem;
    color: var(--accept-button-color);
    top: 1.2rem;
    right: 2rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 5px;
}

#container-posts-section #additional-info-posts-section .photos-about-section #all-photos:hover {
    background-color: var(--other-elements-color);
}

#container-posts-section #additional-info-posts-section .photos-about-section span {
    width: 125px;
}

#container-posts-section #additional-info-posts-section .photos-about-section h2 {
    left: 2.2rem;
    top: 1.5rem;
}

/* friends info in additional info */

#container-posts-section #additional-info-posts-section .friends-about-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.4rem;
    padding-top: 7rem;
    padding-bottom: 4rem;
    margin-top: -1.2rem;
}

#container-posts-section #additional-info-posts-section .friends-about-section h2 {
    margin-top: -5.5rem;
    margin-left: 0;
    color: var(--text-color)
}

#container-posts-section #additional-info-posts-section .friends-about-section #friends-num {
    margin-top: -2rem;
    margin-left: 0;
}

#container-posts-section #additional-info-posts-section .friends-about-section .all-friends {
    right: 4rem;
    top: 2.6rem;
}

#container-posts-section .friends-about-section .friend {
    width: 120px;    
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

#container-posts-section .friends-about-section .friend img {
    object-fit: cover;
    width: 110px;
    height: 100px;
}

#container-posts-section .friends-about-section .friend h4 {
    position: absolute;
    font-size: 1.5rem;
    left: 0.3rem;
    top: 10.5rem;
    color: var(--text-color)
}

/* ADD POST OPTION IN CONTAINER POSTS SECTION */

/* add post section (upper) */

#container-posts-section #add-post {
    position: absolute;
    right: 10rem;
    top: 0;
    padding-inline: 2.7rem;
    padding-bottom: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0.9px 2px 1px var(--shadow-color);
    overflow: hidden;
    background-color: var(--main-elements-color)
}

#container-posts-section #add-post #profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    bottom: -2rem;
    right: 1rem;
    filter: brightness(var(--brightness))
}

#container-posts-section #add-post input[type="text"] {
    width: 430px;
    height: 45px;
    border-radius: 30px;
    padding-inline: 1rem;
    font-size: 1.7rem;
    outline: none;
    border: none;
    background-color: var(--other-elements-color);
    color: var(--text-color)
}

#container-posts-section #add-post input[type="text"]:hover {
    background-color: var(--other-elements-hover-color)
}

#container-posts-section #add-post hr {
    width: 120%;
    margin-left: -2.7rem;
    margin-block: 1.5rem;
    border-color: var(--shadow-color);
}

/* add interactions section (lower) */

#container-posts-section #add-interactions {
    width: 63%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    height: 15px;
}

#container-posts-section #add-interactions label {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--text-color)
}

#container-posts-section #add-post #add-interactions i {
    font-size: 2.1rem;
}

#container-posts-section #add-post #add-interactions p {
    font-size: 2.2rem;
    margin-left: 3.5rem;
}

#container-posts-section #add-post #add-interactions input[type="file"] {
    display: none;
}

/* CONTAINERS FOR IMAGES */

.profile-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    filter: brightness(var(--brightness));
    cursor: pointer;
}

/* POSTS-SECTION IN CONTAINER POSTS SECTION */

#container-posts-section #posts-container {
    position: absolute;
    max-width: 542px;
    right: 9.7rem;
    border-radius: 1rem;
    top: 17rem;
}

#container-posts-section #posts-container .post {
    margin-bottom: 3rem;
    position: relative;
    box-shadow: 0px 1px 2px 1px var(--shadow-color);
}

/* post header elements */

#container-posts-section #posts-container .post header {
    position: relative;
    width: 100%;
    padding: 1.3rem;
    background-color: var(--main-elements-color);
    border-bottom: 1px solid var(--posts-border-bottom-color)
}

#container-posts-section #posts-container .post header .profile-wrapper {
    position: relative;
    width: 25px;
    height: 25px;
}

#container-posts-section #posts-container .post header p {
    font-size: 1.8rem;
    margin-top: -2.4rem;
    margin-left: 4rem;
    color: var(--text-color)
}

#container-posts-section #posts-container .post header button {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 1.85rem;
    background-color: inherit;
}

#container-posts-section #posts-container .post header .fas.fa-ellipsis {
    font-size: 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    pointer-events: none;
    color: var(--text-color)
}

#container-posts-section #posts-container .post header button:hover {
    background-color: var(--post-options-button-hover-color)
}

/* caption in post*/

#posts-container .post .caption {
    position: relative;
    width: 100%;
    background-color: var(--main-elements-color);
    padding: 1rem 1.8rem 1rem 1.8rem;
}

#posts-container .post .caption .caption-text {
    font-size: 1.8rem;
    color: var(--text-color)
}

#posts-container .post .caption .change-caption-form {
    display: grid;
    position: relative;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    width: 100%;
    height: 150px;
    display: none;
    margin-top: 0.3rem;
    margin-bottom: -3rem;
}

#posts-container .post .caption .change-caption-form .change-caption-text {
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 90%);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.6rem;
    grid-column: 1 / 4;
    resize: none;
    width: 100%;
} 

#posts-container .post .caption .change-caption-form .change-caption-text::-webkit-scrollbar {
    display: none;
}

#posts-container .post .caption .change-caption-form .letters-counter-edit-profile {
    font-size: 1.6rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding-top: 0.5rem;
    width: 250px;
    color: var(--text-color)
}

#posts-container .post .caption .change-caption-form .finished-editing, #posts-container .post .caption .change-caption-form .cancel {
    border: none;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    grid-row: 2 / 3;
    cursor: pointer;
}

#posts-container .post .caption .change-caption-form .finished-editing {
    background-color: var(--accept-button-color);
    color: var(--accept-buttons-font-color);
    width: 120px;
    grid-column: 2 / 3;
    margin-left: 5rem;
}

#posts-container .post .caption .change-caption-form .cancel {
    background-color: var(--decline-button-color);
    width: 70px;
    grid-column: 3 / 4;
}

#posts-container .post .caption .change-caption-form .finished-editing:hover {
    background-color: var(--accept-button-hover-color);
}

#posts-container .post .caption .change-caption-form .cancel:hover {
    background-color: var(--decline-button-hover-color)
}

/* uploaded image wrapper in post */

#container-posts-section #posts-container .post .image-wrapper img {
    width: 100%;
    filter: brightness(var(--brightness))
}

/* reaction section in post */

#container-posts-section #posts-container .post #reactions {
    height: 5rem;
    border-bottom: 0.2px solid var(--posts-border-bottom-color);
    padding-top: 1.3rem;
    background-color: var(--main-elements-color)
}

#container-posts-section #posts-container .post #reactions .profiles-wrapper {
    display: flex;
    margin-left: 1rem;
}

#container-posts-section #posts-container .post #reactions .profile-wrapper {
    position: relative;
    width: 25px;
    height: 25px;
}

#container-posts-section #posts-container .post #reactions .profile-wrapper:nth-child(2) {
    left: -1rem;
}

#container-posts-section #posts-container .post #reactions .profile-wrapper:nth-child(3) {
    left: -2rem;
}

#container-posts-section #posts-container .post #reactions p {
    position: absolute;
    font-size: 2rem;
    margin-left: 7.5rem;
    color: Var(--text-color)
}

/* interactions section in post */

#container-posts-section #posts-container #interactions {
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-elements-color);
    font-size: 2.5rem;
    padding-inline: 2rem;
}

#container-posts-section #posts-container #interactions .fas {
    cursor: pointer;
    color: var(--text-color);
}

#container-posts-section #posts-container #interactions .fas.fa-message {
    left: 8rem;
    transform: translate(0, -50%);
    font-size: 2.3rem;
}

#container-posts-section #posts-container #interactions .fas.fa-share {
    right: 3rem;
}

/* comments section in post  */

#container-posts-section #posts-container .comments {
    width: 100%;
    height: 22rem;
    background-color: var(--comments-color);
}

#container-posts-section #posts-container .comments .comment-messages {
    width: 100%;
    height: 15.4rem;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    padding-bottom: 4rem;
    gap: 3rem;
    position: relative;
}

#container-posts-section #posts-container .post .comments .profile-wrapper {
    position: relative;
    width: 25px;
    height: 25px;
    bottom: -2.55rem;
    margin-left: 2.5rem;
}

#container-posts-section #posts-container .post .comments .comment-messages p {
    position: absolute;
    font-size: 2rem;
    margin-left: 7.5rem;
    z-index: 1;
    color: var(--text-color)
}

.comments .comment-messages .comment .comment-content p::before {
    content: '';
    position: absolute;
    background-color: var(--comment-color);
    width: calc(100% + 2rem);
    height: calc(100% + 0.5rem);
    left: -1rem;
    z-index: -1;
    bottom: -0.25rem;
    border-radius: 10px;
    border-top: 1px solid var(--shadow-color);
}

#container-posts-section #posts-container .comments .comment-messages::-webkit-scrollbar {
    display: none;
}

/* add comment section in comments section */

#container-posts-section #posts-container .comments input[type='text'] {
    position: absolute;
    width: 90%;
    bottom: 1.3rem;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    padding: 1.8rem;
    border-radius: 1.5rem;
    font-size: 1.7rem;
    background-color: var(--comment-color);
    border: none;
    color: var(--text-color)
}

#container-posts-section #posts-container .comments input[type="file"] {
    display: none;
}

#container-posts-section #posts-container .comments .fas {
    bottom: 2.2rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color)
}

#container-posts-section #posts-container .comments .fa-image {
    right: 8rem;
}

#container-posts-section #posts-container .comments .fa-video {
    right: 4rem;
}

/* post options in post */

#container-posts-section #posts-container .post .post-options {
    position: absolute;
    background-color: var(--window-color);
    border-radius: 10px;
    top: 6rem;
    right: 2.1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1.3rem;
    display: none;
    z-index: 1;
}

#container-posts-section #posts-container .post .post-options i {
    color: var(--window-color);
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    transform: rotate(-90deg);
    top: -1rem;
}

#container-posts-section #posts-container .post .post-options button {
    cursor: pointer;
    border: none;
    font-size: 1.8rem;
    height: 35px;
    width: 146%;
    background-color: inherit;
    color: Var(--text-color)
}

#container-posts-section #posts-container .post .post-options button:hover {
    background-color: var(--window-element-hover-color)
}

#report-background {
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 2;
    inset: 0;
}

/* REPORT POST MESSAGE */

#report-background #report-message {
    text-align: center;
    width: 350px;
    height: 180px;
    background-color: var(--report-message-color);
    border-radius: 10px;
    position: relative;
}

#report-background #report-message i {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    font-size: 5rem;
    color: var(--text-color)
}

#report-background #report-message p {
    margin-top: 6.6rem;
    cursor: default;
    font-size: 4rem;
    color: var(--text-color)
}

/* ANIMATION OF LIKE */

#container-posts-section #posts-container #interactions .fa-thumbs-up {
    color: var(--text-color);
    transform-origin: center left;
    border-radius: 50%;
    font-size: 2.5rem;
}

.animation-like {
    animation-name: like-animation;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.68, 1.15, 0.82, 0.93);
    animation-fill-mode: forwards;
}

@keyframes like-animation {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-20deg) scale(1.1);
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 255, 0.1);
    }

    75% {
        filter: blur(0.8px)
    }

    100% {
        transform: rotate(0deg);
        color: var(--accept-button-color);
    }
}

/* PHOTOS MAIN SECTION */

.photos-about-section {
    position: relative;
    display: flex;
    width: 1050px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px var(--shadow-color);
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 7.5rem 0 2rem 3.4rem;
    margin: 2rem auto;
    background-color: var(--main-elements-color)
}

.photos-about-section h2 {
    position: absolute;
    font-size: 3rem;
    left: 3rem;
    top: 2rem;
    color: var(--text-color)
}

.photos-about-section img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px hsla(0, 0%, 20%, 0.8);
}

.photos-about-section span {
    position: relative;
    width: 23%;
    cursor: pointer;
    filter: brightness(var(--brightness))
}

.photos-about-section span::after {
    position: absolute;
    content: '';
    inset: 0;
}

.photos-about-section span:hover::after {
    background-color: rgba(0, 0, 0, 0.1)
}

/* ABOUT SECTION */

/* personal info in about section */

#about-section #personal-info {
    width: 1200px;
    box-shadow: 0px 1px 2px 1px var(--shadow-color);
    margin-inline: auto;
    border-radius: 10px;
    margin-top: 2.3rem;
    position: relative;
    padding: 1.5rem 1rem 2.5rem 1rem;
    background-color: var(--main-elements-color)
}

#about-section #personal-info h2 {
    font-size: 3rem;
    margin-bottom: -1.5rem;
    margin-left: 1rem;
    color: var(--title-subtitle-color)
}

#about-section #personal-info h3 {
    font-size: 2.5rem;
    margin: 4rem 0rem -1rem 4rem;
    color: var(--title-subtitle-color)
}

#about-section #personal-info p {
    font-size: 2rem;
    margin-left: 11.6rem;
    margin-top: 3rem;
    pointer-events: none;
    color: var(--text-color)
}

#about-section #personal-info span {
    margin-left: 0.1rem;
}

#about-section #personal-info .fas {
    font-size: 2.9rem;
    color: var(--icons-color);
}

#about-section #personal-info .right {
    left: 110rem;
    background-color: var(--other-elements-color);
    padding: 0.8rem;
    border-radius: 50%;
    font-size: 2.2rem;
    cursor: pointer;
    margin-top: -2.8rem;
}

/* left icons in about section */

#about-section #personal-info .fas.fa-house {
    left: 7rem;
    top: 11.6rem;
}

#about-section #personal-info .fas.fa-location-dot {
    left: 7.5rem;
    top: 17rem;
}

#about-section #personal-info .fas.fa-school {
    left: 7rem;
    top: 28rem;
}

#about-section #personal-info .fas.fa-scroll {
    left: 7rem;
    top: 33.5rem;
}

#about-section #personal-info .fas.fa-phone {
    left: 7.5rem;
    top: 44.5rem;
}

#about-section #personal-info .fas.fa-envelope {
    left: 7.5rem;
    top: 50rem;
}

#about-section #personal-info .fas.fa-person {
    left: 7rem;
    top: 61rem;
}

#about-section #personal-info .fas.fa-cake-candles {
    left: 6.6rem;
    top: 66rem;
}

#about-section #personal-info .fas.fa-children {
    left: 6.1rem;
    top: 71.5rem
}

/* change personal info value in about section */

#about-section #personal-info .change-value {
    position: absolute;
    width: 250px;
    margin-left: 11.5rem;
    height: 60px;
    display: none;
}

#about-section #personal-info .change-value.date {
    margin-top: -3.5rem;
    width: 182px;
}

#about-section #personal-info .change-value.select {
    width: 200px;
}

/* position of window with change-value option */

#about-section #personal-info .change-value:nth-of-type(1) {
    top: 10rem;
}

#about-section #personal-info .change-value:nth-of-type(2) {
    top: 15rem;
}

#about-section #personal-info .change-value:nth-of-type(3) {
    top: 26.5rem;
}

#about-section #personal-info .change-value:nth-of-type(4) {
    top: 31.8rem;
}

#about-section #personal-info .change-value:nth-of-type(5) {
    top: 42.5rem;
}

#about-section #personal-info .change-value:nth-of-type(6) {
    top: 48rem;
}

#about-section #personal-info .change-value:nth-of-type(7) {
    top: 59rem;
}

#about-section #personal-info .change-value:nth-of-type(8) {
    top: 68rem;
}

#about-section #personal-info .change-value:nth-of-type(9) {
    top: 69.5rem;
}

/* input's style in change value in about section */

#about-section #personal-info .change-value input[type='text'], #about-section #personal-info .change-value.date input[type="date"], #about-section #personal-info select {
    position: relative;
    height: 45px;
    border-radius: 5px;
    background-color: var(--other-elements-color);
    outline-color: var(--shadow-color);
    border: none;
    padding-inline: 1rem;
    font-size: 1.5rem;
    bottom: -1.3rem;
    color: var(--text-color)
}

/* span and save / close buttons in about section */

#about-section #personal-info .change-value input[value='Save'], #about-section #personal-info .change-value input[value='Close'] {
    position: absolute;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: var(--other-elements-color);
    color: var(--text-color)
}

#about-section #personal-info .change-value input[value = 'Save'] {
    right: -1.5rem;
    bottom: -0.3rem;
    padding-inline: 0.7rem;
}

#about-section #personal-info .change-value input[value = "Close"] {
    right: -1.5rem;
    bottom: 2.8rem;
}

#about-section #personal-info .change-value span {
    position: absolute;
    left: 1rem;
    top: 2.2rem;
    font-size: 2rem;
    pointer-events: none;
    color: gray;
    transition: 0.5s;
}

/* edit value effects in about section */

#about-section #personal-info .right:hover {
    background-color: var(--other-elements-hover-color)
}

#about-section #personal-info .change-value input[type='text']:valid ~ span, #about-section #personal-info .change-value input[type='text']:focus ~ span {
    transform: translate(-1px, -7px);
    font-size: 1.1rem;
}

/* friends info in about section */

#about-section .friends-about-section {
    position: relative;
    padding-top: 6rem;
    margin-top: 1rem;
}

#about-section .friends-about-section h2 {
    margin-top: 1.5rem;
    margin-left: 3rem;
    color: var(--text-color)
}

#about-section .friends-about-section #friends-num {
    margin-top: 5rem;
    margin-left: 3rem;
}

#about-section .friends-about-section .all-friends {
    right: 3rem;
    top: 2.6rem;
    margin-left: 0;
}

/* FRIENDS MAIN SECTION */

/* friends-about-section appearance and position */

.friends-about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    box-shadow: 0px 1px 2px 1px var(--shadow-color);
    margin-inline: auto;
    border-radius: 10px;
    margin-top: 2.3rem;
    padding: 12rem 0 2rem 3rem;
    position: relative;
    background-color: var(--main-elements-color)
}

.friends-about-section h2 {
    position: absolute;
    font-size: 3rem;
    margin-left: 3rem;
    margin-top: 1.4rem;
    color: var(--text-color)
}

.friends-about-section #friends-num {
    position: absolute;
    font-size: 1.7rem;
    margin-left: 3rem;
    margin-top: 4.8rem;
    color: gray;
}

/* .all settings for all friends main section in a file */

.friends-about-section .all-friends {
    color: var(--accept-button-color);
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
}

.friends-about-section .all-friends:hover {
    background-color: var(--other-elements-color);
    border-radius: 10px;
}

.friends-about-section .all-friends {
    margin: 0;
    top: 3.6rem;
}

.friends-about-section #friends-section-subsections {
    display: flex;
    gap: 3rem;
    position: absolute;
    top: 8rem;
    color: gray;
    font-weight: bold;
    left: 3rem;
}

.friends-about-section #friends-section-subsections p {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
    padding-top: 10px;
    color: var(--text-color)
}

.friends-about-section #friends-section-subsections p:active {
    background-color: hsl(0, 0%, 89%)
}

.friends-about-section #friends-section-subsections p:nth-of-type(1) {
    width: 110px;
}

.friends-about-section #friends-section-subsections p:nth-of-type(2) {
    width: 160px;
}

.friends-about-section #friends-section-subsections p:nth-of-type(3) {
    width: 100px;
}

.friends-about-section .friend {
    position: relative;
    width: 530px;
    margin-top: 3.5rem;
}

.friends-about-section .friend img {
    width: 85px;
    height: 75px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px hsla(0, 0%, 20%, 0.8);
    object-fit: cover;
    filter: brightness(var(--brightness))
}

.friends-about-section .friend h4 {
    position: absolute;
    font-size: 2.3rem;
    left: 10rem;
    top: 20%;
    color: var(--text-color)
}

.friends-about-section .friend .number-of-friends {
    position: absolute;
    font-size: 1.4rem;
    left: 9.9rem;
    top: 55%;
    color: hsl(0, 0%, 60%);
}

/* friend options in friend section */

.friends-about-section .friend .friend-options-on {
    position: absolute;
    right: -0.5rem;
    top: 2.3rem;
    cursor: pointer;
    width: 20px;
    height: 6px;
    border-radius: 50%;
    padding: 1.7rem;
    border: none;
    background-color: inherit;
}

.friends-about-section .friend .friend-options-on .fas.fa-ellipsis-vertical {
    position: absolute;
    font-size: 2.4rem;
    pointer-events: none;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    color: var(--text-color)
}


.friends-about-section .friend .friend-options-on:hover {
    background-color: var(--other-elements-hover-color)
}

/* friend option window in friend section */

.friends-about-section .friend .friend-options-window {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--window-color);
    width: 110px;
    height: 100px;
    position: absolute;
    right: 3rem;
    top: -1.4rem;
    border-radius: 5px;
    padding-bottom: 0.5rem;
    padding-inline: 0.15rem;
}

.friends-about-section .friend .friend-options-window .friend-option {
    width: 90%;
    position: relative;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 2px;
    padding-left: 3.5rem;
    cursor: pointer;
    color: var(--text-color)
}

.friends-about-section .friend .friend-options-window .friend-option i {
    font-size: 1.5rem;
    left: 1rem;
    color: var(--text-color)
}

.friends-about-section .friend .friend-options-window .friend-option:hover {
    background-color: var(--window-element-hover-color)
}

/* add friend button in friend section */

.friends-about-section .friend .add-friend {
    display: none;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    right: -3rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: var(--other-elements-color);
    color: var(--text-color)
}

.friends-about-section .friend .add-friend:hover {
    background-color: var(--other-elements-hover-color)
}

/* RESPONSIVE SETTINGS */

@media only screen and (max-width: 1300px) {

    /* PHOTOS SECTION SETTINGS */

    .photos-about-section {
        width: 850px;
        padding-left: 2rem;
    }

    .photos-about-section h2 {
        left: 2rem;
    }

    /* ABOUT SECTION SETTINGS */

    #about-section #personal-info, #about-section .friends-about-section {
        width: 1100px;
    }

    #about-section #personal-info .right {
        left: 100rem;
    }

    /* FRIENDS SECTION SETTINGS */

    .friends-about-section {
        width: 1100px;
    }

    .friends-about-section .friend {
        width: 470px;
    }
}

@media only screen and (max-width: 1150px) {

    /* HEADER SETTINGS */

    #first-header #foreground-image {
        left: 45rem;
    }

    #first-header #informations {
        top: 40rem;
        left: 45.8rem;
        width: 160px;
        text-align: center;
    }

    #first-header button[type="submit"] {
        left: 43.5rem;
        top: 53.5rem;
    }

    #first-header hr {
        margin-top: 18rem;
        width: 650px;
        margin-left: 21.5rem;
    }

    #first-header #sections {
        margin-left: 29rem;
    }

    #first-header #sections .underline {
        margin-left: 0;
    }

    /* header navigation settings */

    #first-header #navigation-window {
        top: 53.3rem;
        gap: 0;
        left: 21rem;
        width: 600px;
        pointer-events: none;
    }

    #first-header #navigation-window .navigation {
        pointer-events: auto;
    }

    #first-header #navigation-window #settings {
        margin-left: 50rem;
        margin-top: -5.5rem;
    }

    #first-header #navigation-window #home {
        margin-right: 50rem;
    }

    /* POSTS SECTION CONTENT RESPONSIVE SETTINGS */

    #container-posts-section #posts-container {
        width: 450px;
        right: 24rem;
    }

    #container-posts-section #add-post {
        width: 450px;
        right: 24rem;
    }

    #container-posts-section #add-post input[type="text"] {
        width: 30rem;
        margin-left: 1rem;
    }

    #posts-container .post .caption .change-caption-form .finished-editing {
        margin-left: -4rem;
    }


    #container-posts-section #additional-info-posts-section .photos-about-section,
    #container-posts-section #additional-info-posts-section .friends-about-section {
        margin-left: 0;
    }

    #container-posts-section #additional-info-posts-section {
        left: 2rem;
    }

    /* PHOTOS SECTION SETTINGS */
    
    .photos-about-section {
        margin-left: 12rem;
    }

    /* ABOUT SECTION SETTINGS */
    
    #about-section #personal-info, #about-section .friends-about-section {
        width: 850px;
        margin-left: 12rem;
    }

    #about-section #personal-info .right {
        left: 75rem;
    }

    .friends-about-section .friend h4 {
        font-size: 2rem;
        top: 22%;
    } 

    /* FRIENDS SECTION SETTINGS */

    .friends-about-section {
        width: 870px;
        margin-left: 11rem;
    }

    .friends-about-section .friend {
        width: 370px;
    }
}

@media only screen and (max-width: 1000px) {

    /* HEADER SETTINGS */

    #first-header #foreground-image {
        left: 38rem;
    }

    #first-header hr {
        margin-left: 15rem;
    }

    #first-header #informations {
        left: 39rem;
    }

    #first-header button[type="submit"] {
        left: 36.5rem;
    }

    #first-header #sections {
        margin-left: 22.5rem;
    }

    /* HEADER NAVIGATION SETTINGS */

    #first-header #navigation-window {
        width: 500px;
        left: 19.5rem;
    }

    /* MAIN SECTION RESPONSIVE SETTINGS*/
    
    #container-posts-section #additional-info-posts-section {
        position: unset;
        margin-left: 24rem;
        width: 500px;
        height: unset;
        margin-bottom: 2rem;
    }

    #container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form #bio-cancel {
        margin-left: 8.7rem;
    }
    
    #container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form #bio-save {
        margin-left: 0.8rem;
    }

    #container-posts-section #additional-info-posts-section .photos-about-section span {
       width: 142px;
    }

    #container-posts-section #additional-info-posts-section .friends-about-section {
        position: static;
        margin-bottom: 0;
    }

    #container-posts-section #additional-info-posts-section .friends-about-section .friend:not(:nth-child(3n + 1)) {
        margin-left: 2.5rem;
    }

    #container-posts-section #additional-info-posts-section .friends-about-section .all-friends {
        right: 3rem;
    }

    #container-posts-section #add-post {
        position: static;
        width: 500px;
        margin-left: 24rem;
        margin-bottom: 2rem;
    }

    #container-posts-section #posts-container {
        position: unset;
        width: 500px;
        margin-left: 24rem;
    }

    #posts-container .post .caption .change-caption-form .finished-editing {
        margin-left: 0.5rem;
    }

    /* PHOTOS SECTION SETTINGS */
    
    .photos-about-section {
        margin-left: 10.6rem;
        width: 720px;
        padding-left: 1.2rem;
    }

    .photos-about-section h2 {
        left: 1.1rem;
    }

    /* ABOUT SECTION SETTINGS */

    #about-section #personal-info, #about-section .friends-about-section {
        width: 700px;
        margin-left: 12.5rem;
    }

    #about-section #personal-info .right {
        left: 60rem;
    }

    /* FRIENDS SECTION SETTINGS */

    .friends-about-section {
        width: 715px;
        margin-left: 12rem;
    }

    .friends-about-section .friend {
        width: 295px;
    }   
}

@media only screen and (max-width: 850px) {

    /* HEADER SETTINGS */

    #first-header #foreground-image {
        left: 31rem;
    }

    #first-header #informations {
        left: 32rem;
    }

    #first-header hr {
        margin-left: 13.5rem;
        width: 550px;
    }

    #first-header button[type="submit"] {
        left: 29.5rem;
    }

    #first-header #sections {
        margin-left: 16.5rem;
    }

    /* header navigation settings */

    #first-header #navigation-window {
        width: 200px;
        top: 53.2rem;
        left: 27.4rem;
    }

    #first-header #navigation-window #home {
        margin-right: 40rem;
    }

    #first-header #navigation-window #settings {
        margin-left: 40rem;
    }

    /* MAIN SECTION SETTINGS*/
    
    #container-posts-section #additional-info-posts-section {
        width: 400px;
        margin-bottom: 1.8rem;
        margin-left: 20.5rem;
    }

    /* user info in posts section settings */

    #container-posts-section #additional-info-posts-section #user-info h2 {
        font-size: 2.7rem;
    }

    #container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form #add-bio-text {
        font-size: 1.6rem;
    }

    #container-posts-section #additional-info-posts-section #user-info #user-input-info #user-input-text {
        font-size: 2rem;
    }

    #container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form #bio-cancel {
        margin-left: 8rem;
    }
    
    #container-posts-section #additional-info-posts-section #user-info #user-input-info #bio-form #bio-save {
        margin-left: 0.2rem;
    }

    #container-posts-section #additional-info-posts-section #user-info p {
        font-size: 2rem;
    }

    #container-posts-section #additional-info-posts-section #user-info .fas {
        top: 2.9rem;
    }

    #container-posts-section #additional-info-posts-section #user-info .fas.fa-scroll {
        top: 3.1rem;
    }

    /* photos section in posts section settings */

    #container-posts-section #additional-info-posts-section .photos-about-section h2 {
        font-size: 2.8rem;
    }

    #container-posts-section #additional-info-posts-section .photos-about-section span {
        width: 110px;
    }

    /* friends section in posts section settings */

    #container-posts-section #additional-info-posts-section .friends-about-section h2,
    #container-posts-section #additional-info-posts-section .friends-about-section #friends-num {
        margin-left: -0.7rem;
    }

    #container-posts-section #additional-info-posts-section .friends-about-section h2 {
        font-size: 2.8rem;
    }

    #container-posts-section #additional-info-posts-section .friends-about-section #friends-num {
        font-size: 1.6rem;
        margin-top: -2.2rem;
    }

    #container-posts-section #additional-info-posts-section .friends-about-section .all-friends {
        right: 1.7rem;
        font-size: 1.9rem;
    }

    #container-posts-section #additional-info-posts-section .friends-about-section .friend {
        width: 100px;
        margin-left: -0.9rem;
        margin-bottom: 0.5rem;
    }

    #container-posts-section #additional-info-posts-section .friends-about-section .friend:not(:nth-child(3n + 1)) {
        margin-left: 1rem;
    }
    
    #container-posts-section #additional-info-posts-section .friends-about-section .friend h4 {
        top: 10.2rem;
    }

    #container-posts-section #additional-info-posts-section .friends-about-section .friend img {
        width: 110px;
        height: 100px;
    }

    /* add post and posts container in posts section settings */

    #container-posts-section #add-post {
        width: 400px;
        top: 93rem;
        margin-left: 20.5rem;
    }

    #container-posts-section #add-post input[type="text"] {
        width: 275px;
    }

    #container-posts-section #add-post #add-interactions i {
        font-size: 1.9rem;
    }

    #container-posts-section #add-post #add-interactions p {
        font-size: 2rem;
        margin-left: 2.8rem;
    }

    #container-posts-section #posts-container {
        width: 400px;
        margin-left: 20.5rem;
        top: 108.5rem;
    }

    #posts-container .post .caption .change-caption-form .finished-editing, #posts-container .post .caption .change-caption-form .cancel {
        font-size: 1.2rem;
    }

    #posts-container .post .caption .change-caption-form .finished-editing {
        margin-left: -7rem;
        width: 105px;
    }

    #posts-container .post .caption .change-caption-form .cancel {
        width: 65px;
    }

    #container-posts-section #posts-container .post #reactions p {
        font-size: 1.7rem;
        margin-top: 0.2rem;
    }

    #container-posts-section #posts-container .post #reactions .profile-wrapper {
        width: 23px;
        height: 23px;
    } 

    #container-posts-section #posts-container .post #interactions .fas {
        font-size: 2.3rem;
    }

    /* report message settings */

    #report-background #report-message {
        width: 300px;
        height: 160px;
    }

    #report-background #report-message p {
        font-size: 3.4rem;
    } 

    #report-background #report-message i {
        font-size: 4.2rem;
        top: 1.3rem;
    }

    /* PHOTOS SECTION */

    .photos-about-section span {
        width: 31%;
    }

    .photos-about-section {
        width: 560px;
        padding-right: 0.3rem;
        margin-left: 12.9rem;
    }

    /* ABOUT SECTION SETTINGS */

    #about-section #personal-info, #about-section .friends-about-section {
        width: 500px;
        margin-left: 16.3rem;
    }

    #about-section #personal-info h2 {
        margin-top: 1rem;
        margin-bottom: -2.7rem;
        margin-left: 0.5rem;
    }

    #about-section #personal-info h3 {
        margin-left: 1.5rem;
    }

    #about-section #personal-info p {
        font-size: 1.8rem;
        margin-left: 8.8rem;
    }

    #about-section #personal-info .right {
        left: 43rem;
        font-size: 1.8rem;
        margin-top: -2.6rem;
    }

    #about-section #personal-info .fas.fa-house {
        top: 11.35rem;
        left: 4.5rem
    }

    #about-section #personal-info .fas.fa-location-dot {
        top: 16.7rem;
        left: 5.1rem;
    }

    #about-section #personal-info .fas.fa-school {
        top: 27.3rem;
        left: 4.5rem;
    }

    #about-section #personal-info .fas.fa-scroll {
        top: 32.8rem;
        left: 4.7rem;
    }

    #about-section #personal-info .fas.fa-phone {
        top: 43.7rem;
        left: 5rem;
    }

    #about-section #personal-info .fas.fa-envelope {
        top: 48.7rem;
        left: 5.1rem;
    }

    #about-section #personal-info .fas.fa-person {
        top: 59.5rem;
        left: 5.7rem;
    }

    #about-section #personal-info .fas.fa-cake-candles {
        top: 64.4rem;
        left: 5.35rem;
    }

    #about-section #personal-info .fas.fa-children {
        top: 69.7rem;
        left: 4.9rem;
    }

    /* CHANGING VALUE OF INFO SETTINGS */

    #about-section #personal-info .change-value {
        width: 190px;
        margin-left: 8.8rem;
    }

    #about-section #personal-info .change-value.select {
        width: 190px;
    }

    #about-section #personal-info .change-value.date {
        width: 190px;
    }
    
    #about-section #personal-info .change-value input[type='text'], 
    #about-section #personal-info .change-value select,
    #about-section #personal-info .change-value input[type='date'] {
        width: 150px;
        height: 40px;
        bottom: -1.4rem;
        font-size: 1.2rem;
    }

    #about-section #personal-info .change-value input[type='text']:focus ~ span,
    #about-section #personal-info .change-value input[type='text']:valid ~ span{
        transform: translate(-2px, -8px);
        font-size: 0.9rem;
    } 

    #about-section #personal-info .change-value span {
        font-size: 1.8rem;
        margin-top: 0.2rem;
    }

    #about-section #personal-info .change-value:nth-of-type(1) {
        top: 9.7rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(2) {
        top: 15rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(3) {
        top: 25.8rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(4) {
        top: 30.8rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(5) {
        top: 42rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(6) {
        top: 47rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(7) {
        top: 58rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(8) {
        top: 66.3rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(9) {
        top: 68rem;
    }

    #about-section .friends-about-section .all-friends {
        right: 1.5rem;
    }

    /* FRIENDS SECTION SETTINGS */

    .friends-about-section {
        grid-template-columns: 1fr;
        width: 500px;
        margin-left: 16.1rem;
    }

    .friends-about-section .friend {
        width: 420px;
    }

    .friends-about-section .friend .friend-options-on {
        top: 2rem;
    }
}

@media only screen and (max-width: 700px) {

    /* HEADER SETTINGS */

    #first-header #foreground-image {
        left: 25rem;
    }

    #first-header #informations {
        left: 26rem;
    }

    #first-header #sections {
        margin-left: 14rem;
        font-size: 2.4rem;
    }

    #first-header button[type="submit"] {
        left: 22.9rem;
    }

    #first-header hr {
        margin-left: 11rem;
        margin-top: 24.5rem;
        width: 450px;
    }

    #first-header #sections p {
        margin-right: -2rem;
    }

    #first-header #sections hr {
        width: 90px;
    }

    #first-header #sections hr:nth-of-type(1) {
        left: -1.3rem;
    }

    #first-header #sections hr:nth-of-type(2) {
        left: 8.9rem;
    }
    
    #first-header #sections hr:nth-of-type(3) {
        left: 19.6rem;
    }
    
    #first-header #sections hr:nth-of-type(4) {
        width: 100px;
        left: 30.2rem;
    }

    /* header navigation settings */

    #first-header #navigation-window {
        top: 60rem;
        width: 215px;
        left: 19.9rem;
    }

    #first-header #navigation-window #home {
        margin-right: 20rem;
    }

    #first-header #navigation-window #settings {
        margin-left: 20rem;
    }

    /* MAIN SECTION SETTINGS */
    
    #container-posts-section #additional-info-posts-section,
    #container-posts-section #add-post,
    #container-posts-section #posts-container {
        margin-left: 14.3rem;
    }

    /* report message settings */

    #report-background #report-message {
        width: 250px;
        height: 130px;
    }

    #report-background #report-message p {
        font-size: 2.6rem;
        margin-top: 5.7rem;
    }

    #report-background #report-message i {
        font-size: 3.7rem;
        top: 1.3rem;
    }

    /* PHOTOS SECTION */

    .photos-about-section span {
        width: 30%;
    }

    .photos-about-section {
        width: 450px;
        padding-right: 0rem;
        margin-left: 11rem;
    }

    /* ABOUT SECTION SETTINGS */

    #about-section #personal-info, #about-section .friends-about-section {
        margin-left: 8.7rem;
    }

    /* FRIENDS SECTION SETTINGS */

    .friends-about-section {
        margin-left: 8.7rem;
    }
}

@media only screen and (max-width: 640px) {

    /* HEADER SETTINGS */
    
    #first-header #foreground-image {
        left: 14rem;
    }

    #first-header #informations {
        left: 15rem;
    }
    
    #first-header button[type="submit"] {
        left: 12.5rem;
        top: 53rem;
    }

    #first-header hr {
        margin-left: 4rem;
        width: 400px;
    }

    #first-header #sections {
        margin-left: 4.5rem;
    }

    /* HEADER NAVIGATION SETTINGS */

    #first-header #navigation-window {
        left: 9.7rem;
    }

    /* MAIN SECTION SETTINGS*/
    
    #container-posts-section #additional-info-posts-section,
    #container-posts-section #add-post,
    #container-posts-section #posts-container {
        margin-left: 4rem;
    }
    
    /* PHOTOS SECTION */

    .photos-about-section {
        margin-left: 1.8rem;
        padding-left: 1.1rem;
    }

    /* ABOUT SECTION SETTINGS */

    #about-section #personal-info, #about-section .friends-about-section {
        margin-left: 4rem;
        width: 400px;
    }

    #about-section #personal-info h2 {
        margin-left: 0rem;
        font-size: 2.75rem;
    }

    #about-section #personal-info h3 {
        margin-left: 1rem;
        font-size: 2.1rem;
    }

    #about-section #personal-info p {
        margin-left: 6.5rem;
        font-size: 1.6rem;
    }
    
    #about-section #personal-info .right {
        font-size: 1.8rem;
        padding: 0.6rem;
        margin-top: -2.3rem;
        left: 35.5rem;
    }

    /* ABOUT SECTION SETTINGS */

    /* left icons in about section settings */

    #about-section #personal-info .left {
        font-size: 2.4rem;
    }

    #about-section #personal-info .fas.fa-house {
        left: 3rem;
        top: 11rem;
    }

    #about-section #personal-info .fas.fa-location-dot {
        left: 3.5rem;
        top: 16rem;
    }

    #about-section #personal-info .fas.fa-school {
        left: 3rem;
        top: 26rem;
    }

    #about-section #personal-info .fas.fa-scroll {
        left: 3rem;
        top: 31.2rem;
    }

    #about-section #personal-info .fas.fa-phone {
        left: 3.5rem;
        top: 41.5rem;
    }

    #about-section #personal-info .fas.fa-envelope {
        left: 3.5rem;
        top: 46.2rem;
    }

    #about-section #personal-info .fas.fa-person {
        left: 3.8rem;
        top: 56.4rem;
    }

    #about-section #personal-info .fas.fa-cake-candles {
        left: 3.4rem;
        top: 61.1rem;
    }

    #about-section #personal-info .fas.fa-children {
        left: 3rem;
        top: 66rem
    }

    /* changing value of info in about section settings */

    #about-section #personal-info .change-value {
        width: 160px;
        height: 55px;
        margin-left: 6.5rem;
    }

    #about-section #personal-info .change-value.select {
        width: 170px;
    }

    #about-section #personal-info .change-value.date {
        width: 170px;
    }
    
    #about-section #personal-info .change-value input[type='text'] {
        width: 120px;
        height: 35px;
        padding-top: 0.4rem;
        font-size: 1.1rem;
    }

    #about-section #personal-info .change-value select {
        width: 130px;
        height: 35px;
        padding-right: 0;
        padding-left: 0.5rem;
        bottom: -1.3rem;
    }

    #about-section #personal-info .change-value.date input[type='date'] {
        width: 130px;
        height: 35px;
    }

    #about-section #personal-info .change-value input[type='text']:focus ~ span,
    #about-section #personal-info .change-value input[type='text']:valid ~ span{
        transform: translate(-2px, -8px);
        font-size: 0.9rem;
    } 

    #about-section #personal-info .change-value span {
        font-size: 1.4rem;
    }

    #about-section #personal-info .change-value:nth-of-type(2) {
        top: 14.2rem;
    }

    #about-section #personal-info .change-value:nth-of-type(3) {
        top: 24.6rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(4) {
        top: 29.1rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(5) {
        top: 39.7rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(6) {
        top: 44.5rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(7) {
        top: 54.7rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(8) {
        top: 63.1rem;
    }
    
    #about-section #personal-info .change-value:nth-of-type(9) {
        top: 64rem;
    }

    .friends-about-section .friend {
        width: 330px;
    }

    /* friends section in about section settings */

    #about-section .friends-about-section h2 {
        font-size: 2.75rem;
    }

    #about-section .friends-about-section #friends-num {
        font-size: 1.5rem;
        margin-top: 4.7rem;
    }

    #about-section .friends-about-section .all-friends {
        font-size: 1.75rem;
    }

    /* FRIEND SECTION SETTINGS */

    .friends-about-section {
        width: 400px;
        margin-left: 3.75rem;
    } 
    .friends-about-section #friends-section-subsections {
        gap: 1rem;
    }

    .friends-about-section #friends-section-subsections p {
        font-size: 1.75rem;
    }

    .friends-about-section #friends-section-subsections p:nth-of-type(1) {
        width: 95px;
    }

    .friends-about-section #friends-section-subsections p:nth-of-type(2) {
        width: 140px;
    }

    .friends-about-section #friends-section-subsections p:nth-of-type(3) {
        width: 85px;
    }
}