*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.7;
}

:root {
    --background-color: rgba(0, 0, 0, 0.1);
    --header-color: rgb(245, 245, 245);
    --window-color: rgb(220, 220, 220);
    --window-element-hover-color: hsl(0, 0%, 82%);
    --text-color: black;

    --search-upload-color: rgb(220, 220, 220);
    --upload-elements-color: hsl(0, 0%, 92%);
    --post-preview-border-color: rgb(190, 190, 190);
    --notifications-number-color: red;
    
    --user-card-color: white;
    --add-button-color: rgb(225, 225, 225);
    --add-button-before-color: white;
    --add-button-hover-first-shadow: hsl(0, 0%, 86%);
    --add-button-hover-second-shadow: hsl(0, 0%, 90%);

    --posts-border-bottom-color: hsl(0, 0%, 89%);
    --post-options-button-hover-color: hsl(0, 0%, 90%);

    --report-message-color: white;

    --comments-color: rgb(245, 245, 245);
    --comment-color: rgb(235, 235, 235);

    --accept-button-color: hsl(200, 100%, 35%);
    --accept-button-hover-color: hsl(200, 100%, 30%);
    --decline-button-color: hsl(0, 0%, 90%);
    --decline-button-hover-color: hsl(0, 0%, 86%);

    --header-font: 'Kanit', sans-serif;
}

.darkmode {
    --background-color: rgba(0, 0, 0, 0.9);
    --header-color: rgb(50, 50, 50);
    --window-color: rgb(40, 40, 40);
    --window-element-hover-color: rgb(30, 30, 30);
    --text-color: rgb(217, 217, 217);

    --search-upload-color: rgb(35, 35, 35);
    --upload-elements-color: rgb(50, 50, 50);
    --post-preview-border-color: rgb(60, 60, 60);
    --notifications-number-color: rgb(120, 0, 0);

    --user-card-color: rgb(60, 60, 60);
    --add-button-color: rgb(50, 50, 50);
    --add-button-before-color: rgb(70, 70, 70);
    --add-button-hover-first-shadow: rgb(40, 40, 40);
    --add-button-hover-second-shadow: rgb(47, 47, 47);

    --posts-border-bottom-color: rgb(37, 37, 37);
    --post-options-button-hover-color: rgb(44, 44, 44);

    --report-message-color: rgb(20, 20, 20);

    --comments-color: rgb(55, 55, 55);
    --comment-color: rgb(45, 45, 45);

    --accept-button-color: hsl(200, 100%, 30%);
    --accept-button-hover-color: hsl(200, 100%, 25%);
    --decline-button-color: hsl(0, 0%, 80%);
    --decline-button-hover-color: hsl(0, 0%, 75%);
}

html {
    font-size: 62.5%
}

body {
    background: var(--background-color);
    font-size: 5rem;
}

#bold {
    font-weight: bold;
}

/* HEADER AND HEADER ELEMENTS STYLE */

header {
    position: fixed;
    height: 80px;
    width: 100%;
    background: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    z-index: 2;
}

header a {
    text-decoration: none;
    color: var(--text-color);
}

header input[type="text"] {
    width: 225px;
    height: 45px;
    border: none;
    border-radius: 60px;
    padding-inline: 3.6rem 2rem;
    font-size: 1.8rem;
    outline: none;
    background-color: var(--search-upload-color);
    color: var(--text-color);
    font-family: var(--header-font);
    margin-left: 22.7rem;
}

header label[for="search"] {
    position: absolute;
    width: 35px;
    height: 45px;
    border-radius: 60px;
    cursor: default; 
    left: 25rem;
}

header label[for="search"] i {
    position: absolute;
    left: 1.2rem;
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    opacity: 0.7;
}

header ul {
    display: flex;
    gap: 6rem;
    list-style: none;
    align-items: center;
}

header ul .fas {
    font-size: 3rem;
    position: relative;
    top: -0.4rem;
    right: 2.5rem;
    cursor: pointer;
    color: var(--text-color)
}

header h3 {
    position: absolute;
    left: 3rem;
    font-size: 4.1rem;
    font-family: 'Poppins';
}

/* UPLOAD BUTTON APPEARANCE AND EFFECT */

header button[id="upload"] {
    position: absolute;
    background-color: var(--search-upload-color);
    color: var(--text-color);
    font-family: var(--header-font);
    width: 225px;
    height: 45px;
    border-radius: 6px;
    right: 38rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border: none;
    transition-duration: 0.4s;
}

header button[id="upload"]::after, header button[id="upload"]::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: inherit;
    border-radius: inherit;
    opacity: 0.4;
    transition-duration: 0.4s;
}

header button[id="upload"]:hover {
    transform: translate(-8px, -8px)
}

header button[id="upload"]:hover::after {
    transform: translate(4px, 4px);
}

header button[id="upload"]:hover::before {
    transform: translate(8px, 8px);
}

/* WINDOW AFTER CLICKING UPLOAD BUTTON */

header #upload-files {
    position: absolute;
    background-color: var(--window-color);
    border-radius: 5px;
    right: 38.25rem;
    top: 7.5rem;
    display: none;
    padding-inline: 1rem;
    padding-block: 1.5rem;
    z-index: 2;
}

header #upload-files #show-hide-preview {
    font-size: 2.2rem;
    top: 1rem;
    width: 100%;
    cursor: pointer;
    font-family: "Kanit";
    text-align: center;
    color: var(--text-color)
}

/* class to toggle post-image-preview */

.off {
    display: none;
}

header #upload-files #post-image-preview {
    position: relative;
    border: 1px solid var(--post-preview-border-color);
    max-width: 150px;
    width: 75%;
    height: 200px;
}

header #upload-files #post-image-preview #post-image-preview-header {
    position: relative;
    width: 100%;
    background-color: var(--header-color);
    font-size: 1.1rem;
    border-bottom: 1px solid var(--posts-border-bottom-color);
    pointer-events: none;
}

header #upload-files #post-image-preview #post-image-preview-header .profile-wrapper {
    width: 15px;
    height: 15px;
    margin-top: 0.25rem;
    margin-left: 0.4rem;
}

header #upload-files #post-image-preview #post-image-preview-header p {
    position: absolute;
    top: 0.5rem;
    left: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color)
}

header #upload-files #post-image-preview #post-image-preview-header i {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    color: var(--text-color)
}

header #upload-files #post-image-preview #post-image-preview-caption {
    width: 100%;
    background-color: var(--header-color);
    padding: 0.5rem;
    display: none;
    overflow-x: hidden;
    pointer-events: none;
}

header #upload-files #post-image-preview #post-image-preview-caption #post-image-preview-caption-text {
    font-size: 1rem;
    color: var(--text-color)
} 

header #upload-files #post-image-preview #post-image-preview-photo {
    background-size: cover;
    width: 100%;
    height: 177px;
}

header #upload-files form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

header #upload-files form label[for="photo-video"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: 2.7rem;
    border-radius: 50%;
    background-color: var(--upload-elements-color);
    cursor: pointer;
}

header #upload-files form label[for="photo-video"] i {
    margin-top: -0.2rem;
    pointer-events: none;
    color: var(--text-color);
}

header #upload-files form textarea {
    width: 83%;
    height: 75px;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-inline: 1.2rem;
    background-color: var(--upload-elements-color);
    color: var(--text-color);
}

header #upload-files form textarea::-webkit-scrollbar {
    display: none;
}

header #upload-files form button[type='submit'] {
    width: 38%;
    height: 30px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: var(--upload-elements-color);
    font-weight: bold;
    font-family: 'Kanit';
    color: var(--text-color)
}

/* NOTIFICATION PANEL */

header #info {
    position: absolute;
    width: 250px;
    background-color: var(--window-color);
    right: 28rem;
    font-size: 1.7rem;
    border-radius: 20px 20px 10px 10px;
    padding: 1rem;
    display: none;
    z-index: 2;
}

header #info i {
    position: absolute;
    right: 1.4rem;
    top: 0.8rem;
    font-weight: bold;
    font-size: 3rem;
    transform: rotate(45deg);
    cursor: pointer;
    color: var(--text-color)
}

header #info h2 {
    margin-bottom: 0.7rem;
    color: var(--text-color)
}

header #info .info-text {
    position: relative;
    cursor: pointer;
    padding-inline: 0.9rem;
    border-radius: 5px;
    min-height: 50px;
    text-align: left;
}

header #info .info-text .profile-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -0.5rem;
}

header #info .info-text p {
    font-size: 1.5rem;
    margin-top: -3.7rem;
    margin-left: 4.5rem;
    width: 140px;
    color: var(--text-color)
}

header #info .info-text .user-request {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.7rem;
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}

header #info .info-text .user-request [name="user-friend-action"], header #info .info-text .user-request [name="user-group-action"] {
    width: 65px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

header #info .info-text .user-request .confirm, header #info .info-text .user-request .accept {
    background-color: var(--accept-button-color);
    color: linen;
}

header #info .info-text .user-request .remove, header #info .info-text .user-request .decline {
    background-color: var(--decline-button-color)
}

header #info .info-text .user-request .confirm:hover, header #info .info-text .user-request .accept:hover {
    background-color: var(--accept-button-hover-color)
}

header #info .info-text .user-request .remove:hover, header #info .info-text .user-request .decline:hover  {
    background-color: var(--decline-button-hover-color)
}

header #info .info-text .user-request .after-remove, 
header #info .info-text .user-request .after-confirm,
header #info .info-text .user-request .after-accept,
header #info .info-text .user-request .after-decline {
    display: none;
    position: absolute;
    bottom: 1.5rem;
    font-size: 1.25rem;
    font-family: 'Open Sans';
}

header #info .info-text .user-request .after-confirm, header #info .info-text .user-request .after-accept {
    color: hsl(120, 20%, 60%);
}

header #info .info-text .user-request .after-remove, header #info .info-text .user-request .after-decline {
    color: hsl(0, 100%, 30%);
}

header #info .info-text .circle-notification {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--accept-button-color);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 1rem;
}

header .notification-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--notifications-number-color);
    font-size: 1.7rem;
    color: white;
    font-family: 'consolas';
    text-align: center;
    top: -0.5rem;
    right: -0.5rem;
}

/*MESSAGE PANEL*/

header #messages {
    position: absolute;
    width: 250px;
    background-color: var(--window-color);
    border-radius: 20px 20px 10px 10px;
    right: 20rem;
    top: 6.8rem;
    padding: 1rem;
    font-size: 2rem;
    display: none;
    z-index: 2;
}

header #messages i {
    position: absolute;
    right: 1.4rem;
    top: 1rem;
    font-weight: bold;
    font-size: 3rem;
    transform: rotate(45deg);
    cursor: pointer;
    color: var(--text-color)
}

header #messages h2 {
    margin-bottom: 0.7rem;
    margin-left: 0.5rem;
    color: var(--text-color)
}

header #messages .message {
    width: 100%;
    position: relative;
    cursor: pointer;
    padding-inline: 0.9rem;
    padding-block: 1.1rem 0.7rem;
    border-radius: 5px;
    margin-top: 0.5rem;
}

header #messages .message .profile-wrapper {
    width: 40px;
    height: 40px;
}

header #messages .message h4 {
    position: absolute;
    top: 0.9rem;
    left: 5.7rem;
    color: var(--text-color)
}

header #messages .message p {
    margin-top: -2.3rem;
    margin-left: 4.7rem;
    font-size: 1.4rem;
    color: var(--accept-button-color);
}

header #messages .message .circle-message {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accept-button-color);
    top: 50%;
    transform: translate(0, -50%)
}

/* MESSAGES AND NOTIFICATIONS ANIMATIONS */

header #info .info-text:hover, header #messages .message:hover {
    background-color: var(--window-element-hover-color)
}

.photo-wrapper, .profile-wrapper, #other-pages-open {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.photo-wrapper img, .profile-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
}

header ul #other-pages-open {
    position: relative;
    top: -1.3rem;
    right: 2.6rem;
    border: none;
    cursor: pointer;
}

header ul #other-pages-open img {
    border-radius: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
}

/* CHANGE PAGE WINDOW */

header #other-pages {
    position: absolute;
    width: 130px;
    font-size: 1.75rem;
    right: 14rem;
    top: 8rem;
    display: none;
}

header #other-pages .window {
    padding: 0.5rem;
    padding-left: 1rem;
    background-color: var(--window-color);
}

header #other-pages .fas.fa-caret-up {
    position: absolute;
    right: 0.8rem;
    top: -1.3rem;
    font-size: 2.2rem;
    color: var(--window-color);
}

header #other-pages #first-window {
    border-radius: 5px 5px 0 0
}

header #other-pages #last-window {
    border-radius: 0 0 5px 5px;
}

header #other-pages .window:hover {
    background-color: var(--window-element-hover-color)
}

header #other-pages .window p {
    display: inline-block;
    font-family: 'Lato';
    vertical-align: middle;
    font-size: 1.7rem;
}

header #other-pages .window i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

header #other-pages .window .fas.fa-door-open {
    margin-right: 0.3rem;
    margin-left: -0.15rem;
}

header #darkmode-toggle {
    width: 30px;
}

/* ICONS TO INFORM WHAT WILL BE DISPLAYED */

header #hover-notifications, header #hover-messages, header #hover-account, header #hover-dark-mode  {
    font-size: 1.5rem;
    background-color: black;
    color: hsl(0, 0%, 84%);
    padding-inline: 0.7rem;
    padding-block: 0.4rem;
    border-radius: 5px;
    position: absolute;
    top: 7rem;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.26, 0.78, 0.8, 0.99);
    opacity: 0;
    pointer-events: none;
}

header #hover-notifications {
    right: 29.2rem;
}

header #hover-messages {
    right: 21.4rem;
}

header #hover-account {
    right: 12.4rem;
}

header #hover-dark-mode {
    right: 2.1rem;
}

header #notification-open:hover ~ #hover-notifications, header #message-open:hover ~ #hover-messages, header #other-pages-open:hover ~ #hover-account, header #darkmode-toggle:hover ~ #hover-dark-mode {
    opacity: 1
}

/* ADD USERS SECTION */

#add-users {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 16rem;
    background-color: var(--header-color);
    border-radius: 20px;
    padding: 1rem;
    left: 110rem;
    box-shadow: 0px 0px 15px black;
    font-family: 'Kanit', sans-serif;
    overflow: hidden;
}

#add-users header {
    position: relative;
    height: 50px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    top: -1rem;
}

#add-users header h3, #add-users header p {
    color: var(--text-color)
}

#add-users header h3 {
    font-size: 2.3rem;
    margin-left: -1.5rem;
    margin-top: 0.2rem;
}

#add-users header p {
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    top: 1.2rem;
    cursor: pointer;
}

#add-users #users-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 0px 0px 2rem 2rem;
    background-color: var(--user-card-color);
    bottom: 0rem;
    right: 0.05rem;
    padding-bottom: 0.5rem;
}

#add-users #users-card .user {
    height: 25%;
    position: relative;
}

#add-users #users-card hr {
    background-color: gray;
    border-color: gray;
    opacity: 0.2;
}

#add-users #users-card .photo-wrapper {
    position: relative;
    top: 50%;
    transform: translate(50%, -50%)
}

#add-users #users-card .name {
    position: relative;
    font-size: 2rem;
    color: var(--text-color);
    left: 7.4rem;
    transition: 0.5s;
    cursor: default;
    bottom: 2rem;
}

#add-users #users-card .followers {
    font-size: 1.5rem;
    position: relative;
    bottom: 50%;
    left: 7.4rem;
    cursor: default;
    font-weight: bold;
    color: var(--text-color);
    transition: 0.5s;
    opacity: 0;
}

#add-users #users-card .user .add-friend {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translateY(-50%);
    width: 11rem;
    height: 3.5rem;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
    opacity: 0;
    transition-duration: 0.4s;
    background-color: var(--add-button-color);
    overflow: hidden;
    color: var(--text-color);
}

#add-users #users-card .user .add-friend::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -120%;
    background-color: var(--add-button-before-color);
    z-index: -1;
    transform: skew(50deg);
    transition-duration: 0.5s;
}

/* ADD USERS EFFECTS*/

#add-users #users-card .user:hover .name {
    bottom: 43%;
}

#add-users #users-card .user:hover .followers, #add-users #users-card .user:hover button {
    opacity: 1;
}

#add-users #users-card .user .add-friend:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px var(--add-button-hover-first-shadow),
    0px 0px 20px 3px var(--add-button-hover-second-shadow); 
}

#add-users #users-card .user .add-friend:hover::before {
    left: 120%;
}

/* POSTS SECTION */

#posts-container {
    position: absolute;
    width: 550px;
    left: 45rem;
    top: 16rem;
}

#posts-container .post {
    margin-bottom: 3rem;
    position: relative;
}

#posts-container .profile-wrapper {
    position: relative;
    width: 25px;
    height: 25px;
    bottom: 1px;
}

#posts-container .post header {
    position: absolute;
    display: block;
    height: 50px;
    background-color: var(--header-color);
    z-index: 1;
    pointer-events: none;
    border-bottom: 1px solid var(--posts-border-bottom-color)
}

#posts-container .post header .profile-wrapper {
    top: 50%;
    transform: translateY(-50%);
    left: -0.4rem;
}

#posts-container .post header p {
    position: absolute;
    font-size: 1.8rem;
    font-family: var(--header-font);
    color: var(--text-color);
    top: 50%;
    transform: translateY(-50%);
    left: 5.5rem;
    pointer-events: auto;
}

#posts-container .post header button {
    position: absolute;
    border-radius: 50%;
    padding: 0.4rem;
    cursor: pointer;
    pointer-events: auto;
    border: none;
    width: 35px;
    height: 35px;
    right: 2.5rem;
    top: 0.7rem;
    background-color: inherit;
    color: var(--text-color)
}

#posts-container .post header .fas.fa-ellipsis {
    font-size: 2.7rem;
    pointer-events: none;
}

#posts-container .post header button:hover {
    background-color: var(--post-options-button-hover-color)
}

/* CAPTION SECTION */

#posts-container .post .caption {
    position: relative;
    width: 100%;
    background-color: var(--header-color);
    padding: 6rem 1.8rem 1rem 1.8rem;
    z-index: -1;
}

#posts-container .post .caption .caption-text {
    font-size: 1.8rem;
    color: var(--text-color)
}

/* IMAGE SECTION */

#posts-container .image-wrapper img {
    width: 100%;
}

/* REACTIONS SECTION */

#posts-container .reactions {
    background-color: var(--header-color);
    height: 50px;
    border-bottom: 0.2px solid var(--posts-border-bottom-color);
    padding-top: 1.3rem;
    margin-top: -1.1rem;
}

#posts-container .reactions #profiles-wrapper {
    display: flex;
    margin-left: 1rem;
}

#posts-container .reactions .profile-wrapper:nth-child(2) {
    left: -1rem;
}

#posts-container .reactions .profile-wrapper:nth-child(3) {
    left: -2rem;
}

#posts-container .reactions p, #posts-container .comments p {
    position: absolute;
    font-size: 2rem;
    margin-left: 7.5rem;
    color: var(--text-color);
}

/* INTERACTIONS SECTION */

#posts-container .interactions {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    color: var(--text-color);
    font-size: 2.5rem;
    padding-inline: 2rem;
}

#posts-container .interactions .fa-message {
    position: absolute;
    left: 8rem;
    transform: translate(0, -50%);
    font-size: 2.3rem;
    cursor: pointer;
}

#posts-container .interactions .fas.fa-share {
    cursor: pointer;
}

/* COMMENTS SECTION */

#posts-container .comments {
    height: 220px;
    background-color: var(--comments-color);
}

#posts-container .comments .comment-messages {
    height: 15.4rem;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    padding-bottom: 4rem;
    gap: 3rem;
    position: relative;
}

#posts-container .comments .comment-messages::-webkit-scrollbar {
    display: none;
}

#posts-container .comments input[type='text'] {
    position: absolute;
    width: 90%;
    bottom: 1.3rem;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    padding: 1.8rem;
    border-radius: 1.5rem;
    font-size: 1.7rem;
    background-color: var(--comment-color);
    color: var(--text-color);
    border: none;
}

#posts-container .comments input[type="file"] {
    display: none;
}

#posts-container .comments input[id="image"] {
    right: 8rem;
}

#posts-container .comments input[id="video"] {
    right: 4rem;
}

#posts-container .comments .fas {
    position: absolute;
    bottom: 2.2rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
}

#posts-container .comments .fa-image {
    right: 8rem;
}

#posts-container .comments .fa-video {
    right: 4rem;
}

/* COMMENTS */

.comment-content .profile-wrapper {
    bottom: -2.7rem !important;
    margin-left: 2.5rem;
}

.comments .comment-messages .comment .comment-content p {
    z-index: 1;
}

.comments .comment-messages .comment .comment-content p::before{
    content: '';
    position: absolute;
    background-color: var(--comment-color);
    width: calc(100% + 2rem);
    left: -1rem;
    height: calc(100% + 0.5rem);
    z-index: -1;
    bottom: -0.25rem;
    border-radius: 6px;
    border-top: 1px solid rgba(180, 180, 180, 0.5);
}

/* REPORT WINDOW */

#posts-container .post .post-options {
    position: absolute;
    width: 150px;
    height: 75px;
    background-color: var(--window-color);
    border-radius: 7px;
    top: 6rem;
    right: 2.6rem;
    display: none;
    align-items: center;
}

#posts-container .post .post-options i {
    color: rgb(220, 220, 220);
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    transform: rotate(-90deg);
    top: -1rem;
    color: var(--window-color);
}

#posts-container .post .post-options button {
    cursor: pointer;
    border: none;
    font-size: 1.8rem;
    height: 35px;
    width: 100%;
    background-color: inherit;
    color: var(--text-color)
}

#posts-container .post .post-options button:hover {
    background-color: var(--window-element-hover-color)
}

#report-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
}

#report-message {
    position: relative;
    text-align: center;
    width: 350px;
    height: 180px;
    background-color: var(--report-message-color);
    border-radius: 10px;
}

#report-background #report-message i {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    color: var(--text-color)
}

#report-background #report-message p {
    margin-top: 6.6rem;
    cursor: default;
    font-size: 4rem;
    color: var(--text-color)
}

/* ANIMATION OF LIKE */

#posts-container .interactions .fa-thumbs-up {
    cursor: pointer;
    color: black;
    transform-origin: center left;
    border-radius: 50%;
    margin-top: -0.2rem;
    color: var(--text-color)
}

.animation-like {
    animation-name: like-animation;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.68, 1.15, 0.82, 0.93);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes like-animation {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-20deg) scale(1.1);
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 255, 0.1);
    }

    75% {
        filter: blur(0.8px)
    }

    100% {
        transform: rotate(0deg);
        color: var(--accept-button-color);
    }
}

/**/

/* RESPONSIVE WEBPAGE*/

@media screen and (max-width: 1574px) {
    #posts-container {
        left: 22rem;
    }
    #add-users {
        left: 87rem;
    }
}

@media screen and (max-width: 1310px) {
    #posts-container {
        left: 5rem;
    }

    #add-users {
        left: 70rem;
    }
}

@media screen and (max-width: 1145px) {

    /*HEADER ELEMENTS RESPONSIVE SETTINGS */

    header button[id="upload"] {
        width: 170px;
        font-size: 1.5rem;
        right: 23rem;
        height: 35px;
    }

    header ul .fas {
        font-size: 2.5rem;
        top: -0.8rem;
    }

    header ul {
        gap: 3rem;
        margin-right: -3rem;
    }

    header input[type="text"] {
        font-size: 1.5rem;
        margin-left: 16.4rem;
        width: 190px;
        height: 35px;
        padding-inline: 3rem;
    }
    
    header label[for="search"] {
        left: 18.4rem;
        height: 35px;
    }

    header label[for="search"] i {
        font-size: 1.1rem;
    }

    header h3 {
        font-size: 3.1rem;
        left: 1.4rem;
    }

    /* UPLOAD PHOTO - VIDEO RESPONSIVE SETTINGS */

    header #upload-files {
        width: 180px;
        right: 22.5rem;
    }

    header #upload-files #show-hide-preview {
        font-size: 1.75rem;
    }

    header #upload-files form label[for="photo-video"] {
        width: 45px;
        height: 45px;
        font-size: 2.3rem;
    }

    /* NOTIFICATIONS AND MESSAGES RESPONSIVE SETTINGS */

    header .notification-icon {
        width: 15px;
        height: 15px;
        font-size: 1.4rem;
        padding: 0.2rem;
        padding-top: 0.1rem;
    }

    /* notifications */

    header #info {
        width: 220px;
        right: 16rem;
    }

    header #info h2 {
        font-size: 2.3rem; 
    } 

    header #info .info-text .profile-wrapper {
        width: 30px;
        height: 30px;
        margin-top: 0.6rem;
    }

    header #info .info-text p {
        margin-left: 3.7rem;
        margin-top: -3.2rem;
        width: 110px;
    }

    header #info .info-text .user-request {
        margin-left: 0rem;
    }

    header #info .info-text .user-request [name='user-friend-action'], header #info .info-text .user-request [name='user-group-action'] {
        width: 50px;
        height: 20px;
        font-size: 1.1rem;
    }

    header #info .info-text .user-request .after-remove, 
    header #info .info-text .user-request .after-confirm, 
    header #info .info-text .user-request .after-accept, 
    header #info .info-text .user-request .after-decline {
        font-size: 1.1rem;
    }

    header #info .info-text .circle-notification {
        right: 3rem;
    }

    header #info #close-notifications {
        font-size: 2.6rem;
    }

    /* messages */

    header #messages {
        right: 11rem;
        width: 220px;
        font-size: 1.5rem;
    }

    header #messages #close-messages{
        top: 0.8rem;
        font-size: 2.6rem;
    }

    header #messages .message .profile-wrapper {
        width: 30px;
        height: 30px;
    }

    header #messages .message p {
        margin-top: -1.8rem;
        margin-left: 3.7rem;
    }

    header #messages .message h4 {
       left: 4.6rem;
    }

    header #messages .message .circle-message {
        right: 0.7rem;
        width: 8px;
        height: 8px;
    }
    /* OTHER PAGES WINDOW RESPONSIVE SETTINGS*/
    
    header ul #other-pages-open {
        width: 30px;
        height: 30px;
        top: -1.7rem;
    }

    header #other-pages {
        right: 7.5rem;
        top: 7rem;
        width: 120px;
    }

    header #other-pages .window p {
        font-size: 1.5rem;
    }

    header #hover-notifications, header #hover-messages, header #hover-account, header #hover-dark-mode {
        top: 6.5rem;
        font-size: 1.3rem;
    }

    header #hover-notifications {
        right: 16rem;
    }
    
    header #hover-messages {
        right: 11.5rem;
    }
    
    header #hover-account {
        right: 6.2rem;
    }

    header #hover-dark-mode {
        right: 0.2rem;
        padding-inline: 0.3rem;
    }

    /* POST SECTION AND ADD SECTION SETTINGS */

    #posts-container {
        left: 10rem;
        width: 350px;
        top: 14rem;
    }

    #add-users {
        top: 14.2rem;
        left: 55rem;
        width: 300px;
        height: 250px;
    }

    #add-users header h3 {
        font-size: 1.75rem;
        margin-left: -0.5rem;
        margin-top: -0.5rem;
    }

    #add-users header p {
        font-size: 1.6rem;
        right: 1.5rem;
        top: 1.1rem
    }

    #add-users #users-card {
        height: 207px;
    }

    #add-users #users-card .photo-wrapper {
        width: 25px;
        height: 25px;
    }

    #add-users #users-card .name {
        font-size: 1.6rem;
        left: 4.7rem;
        bottom: 1.4rem;
    }
    
    #add-users #users-card .followers {
        font-size: 1.3rem;
        left: 4.7rem;
        bottom: 2.7rem;
    }

    #add-users #users-card .user .add-friend {
        width: 80px;
        height: 25px;
        font-size: 1.2rem;
    }

    #add-users #users-card .user .add-friend::before {
        width: 75%;
    }
}

@media screen and (max-width: 890px) {

    /* HEADER SETTINGS */

    header input[type="text"] {
        width: 158px;
        font-size: 1.3rem;
        margin-left: 13.7rem;
    }

    header label[for="search"] {
        left: 15.7rem;
    }

    header h3 {
        font-size: 2.7rem;
    }

    /* UPLOAD PHOTO / VIDEO SETTINGS */

    header button[id="upload"] {
        right: 20.4rem;
        width: 134px;
        font-size: 1.3rem;
    }

    header button[id="upload"]:hover {
        transform: translate(-3px, -3px)
    }

    header button[id="upload"]:hover::before {
        transform: translate(6px, 6px)
    }

    header button[id="upload"]:hover::after {
        transform: translate(3px, 3px)
    }

    header #upload-files {
        right: 19.6rem;
        width: 150px;
    }

    header #upload-files #show-hide-preview {
        font-size: 1.4rem;
    }

    header #upload-files #post-image-preview {
        height: 150px;
    }

    header #upload-files #post-image-preview #post-image-preview-photo {
        height: 129px;
    }

    header #upload-files #post-image-preview #post-image-preview-header p {
        font-size: 0.8rem;
        left: 2rem;
    }

    header #upload-files #post-image-preview #post-image-preview-header i {
        top: 0.35rem;
    }

    header #upload-files #post-image-preview #post-image-preview-header .profile-wrapper {
        width: 13px;
        height: 13px;
    }

    header #upload-files #post-image-preview #post-image-preview-caption-text {
        font-size: 0.9rem;
    }

    header #upload-files form textarea {
        font-size: 1.1rem;
    }

    header #upload-files form button[type='submit'] {
        font-size: 1.1rem;
    }

    /* ICONS AND OTHER WINDOWS IN HEADER RESPONSIVE SETTINGS */

    header ul {
        margin-right: -3.5rem;
        gap: 2.7rem;
    }

    header ul .fas {
        top: -0.7rem;
        right: 2.5rem;
        font-size: 2.2rem;
    }

    header ul #other-pages-open {
        width: 26px;
        height: 26px;
    }

    header #info {
        right: 14rem;
    }

    header #messages {
        right: 8.5rem;
    }

    header #info .info-text .circle-notification {
        right: 2.4rem;
    }

    header #other-pages {
        right: 6.5rem;
        font-size: 1.5rem;
        width: 110px;
    }

    /* HOVER WINDOWS */

    header #hover-notifications {
        right: 13.5rem;
    }

    header #hover-messages {
        right: 9.8rem;
    }

    header #hover-account {
        right: 5.2rem;
    }

    header #hover-dark-mode {
        right: 0.2rem;
        padding-inline: 0.2rem;
        font-size: 1.2rem;
    }

    
    /* POSTS, FOLLOW SECTION AND REPORT MESSAGE RESPONSIVE SETTINGS */

    #posts-container {
        left: 3rem;
    }

    #add-users {
        left: 44rem;
    }
  
    #report-message {
        width: 350px;
        height: 175px;
    }

    #report-message p {
        font-size: 2.7rem;
    }

    #report-message i {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 770px) {

    /* POST SECTION, FOLLOW SECTION AND REPORT MESSAGE RESPONSIVE SETTINGS */

    #posts-container {
        top: 44rem;
        left: 20%;
        width: 430px;
    }

    #add-users {
        top: 11.5rem;
        left: 28%;
        width: 320px;
        height: 280px;
    }

    #add-users #users-card {
        height: 232px;
    }

    #add-users header p {
        top: 1.2rem;
    }

    #add-users header h3 {
        margin-top: 0;
    }

    #add-users #users-card .name {
        bottom: 1.7rem;
        left: 5.4rem;
        font-size: 1.8rem;
    }

    #add-users #users-card .user:hover .name {
        bottom: 2.7rem;
    }
    
    #add-users #users-card .followers {
        font-size: 1.3rem;
        left: 5.4rem;
        bottom: 3rem;
    }

    #add-users #users-card .user .add-friend {
        width: 90px;
        height: 30px;
        left: 68%
    }

    #add-users #users-card .photo-wrapper {
        width: 30px;
        height: 30px;
    }

    #report-message {
        width: 300px;
        height: 125px;
    }

    #report-background #report-message p {
        font-size: 2.3rem;
    }

    #report-message i {
        font-size: 3.8rem;
    }
}

@media screen and (max-width: 680px) {

    /* HEADER RESPONSIVE SETTINGS */

    header h3 {
        font-size: 2.4rem;
        left: 1rem;
    }

    header input[type="text"] {
        margin-left: 12.4rem;
        width: 140px;
        padding-left: 2.4rem;
        padding-right: 1rem;
    }

    header label[for='search'] {
        left: 14.5rem;
    }

    header label[for="search"] i {
        left: 0.7rem;
        font-size: 1rem;
    }

    /* UPLOAD PHOTO / VIDEO RESPONSIVE SETTINGS */

    header button[id="upload"] {
        right: 20.5rem;
        width: 90px;
        font-size: 1.3rem;
        height: 35px;
    }
    
    header #upload-files {
        right: 17.4rem;
    }

    /* OTHER ELEMENTS IN HEADER SETTINGS */

    header ul .fas {
        font-size: 2.3rem;
    }

    header .notification-icon {
        width: 13px;
        height: 13px;
        font-size: 1rem;
        padding-right: 0.3rem;
    }

    header ul #other-pages-open {
        width: 27px;
        height: 27px;
        top: -1.5rem;
    }

    /* HEADER OTHER PAGES WINDOW SETTINGS */

    header #other-pages .window p {
        font-size: 1.4rem;
    }

    header #hover-notifications, header #hover-messages, header #hover-account, header #hover-dark-mode {
        font-size: 1.1rem;
    }

    header #hover-notifications {
        right: 14.3rem;
    }

    header #hover-messages {
        right: 10.4rem;
    }

    header #hover-account {
        right: 5.6rem;
    }

    header #hover-dark-mode {
        right: 0;
        padding-inline: 0.5rem;
    }

    /* FOLLOW SECTION HEADER */

    #add-users header h3 {
        margin-left: -0.7rem;
    }

    #add-users header p {
        right: 1.7rem;
        top: 1.3rem;
    }
}

@media screen and (max-width: 600px) {

    /* HEADER RESPONSIVE SETTINGS*/

    header {
        height: 60px;
    }

    header h3 {
        font-size: 1.8rem;
    }

    header input[type="text"] {
        width: 115px;
        height: 30px;
        font-size: 1.1rem;
        padding-left: 2rem;
        margin-left: 9rem;
        padding-right: 1rem;
        margin-top: 0.3rem;
    }

    header label[for="search"] {
        left: 11rem;
        height: 30px;
        width: 20px;
        margin-top: 0.3rem;
    }

    /* HEADER MESSAGES AND NOTIFICATIONS WINDOWS RESPONSIVE SETTINGS */

    header #info {
        width: 190px;
        font-size: 1.4rem;
        right: 12rem;
        top: 5rem;
    }

    header #info h2 {
        font-size: 2rem;
    }

    header #info .info-text .profile-wrapper {
        width: 25px;
        height: 25px;
        margin-top: 1rem;
    }

    header #info .info-text p {
        font-size: 1.3rem;
        margin-left: 2.8rem;
        margin-top: -3rem;
        width: 100px;
    }

    header #info .info-text .user-request {
        margin-left: 1.1rem;
    }

    header #info .info-text .circle-notification {
        right: 0.5rem;
    }

    header #messages {
        right: 8rem;
        width: 170px;
        top: 5rem;
    }

    header #messages .message .profile-wrapper {
        width: 25px;
        height: 25px;
        margin-left: -0.6rem;
    }

    header #messages .message p {
        font-size: 1.15rem;
        margin-left: 2.5rem;
        margin-top: -1.6rem;
    }

    header #messages .message h4 {
        left: 3.45rem;
        margin-top: -0.3rem;
    }

    header #messages .message .circle-message {
        right: 0.5rem;
        width: 6px;
        height: 6px;
    }

    header #messages .message {
        width: 102%;
    }

    /* OTHER ELEMENTS IN HEADER RESPONSIVE SETTINGS */
    
    header ul .fas {
        font-size: 2rem;
        top: -0.8rem;
        right: 1.5rem;
        margin-right: 0rem;
    }

    header ul #darkmode-toggle {
        width: 21px;
        margin-left: -2rem;
        margin-right: 1rem;
    }

    header ul {
        gap: 2.7rem;
        margin-right: -3rem;
    }

    header #other-pages-open {
        margin-left: 0.8rem;
    }

    /* OTHER PAGES WINDOW SETTINGS */

    header #other-pages {
        font-size: 1.3rem;
        width: 100px;
        right: 5.2rem;
        top: 6rem
    }

    header #other-pages .fas.fa-caret-up {
        top: -1rem;
    }

    header #other-pages .window i {
        font-size: 1.2rem;
        margin-top: 0.25rem;
    }

    header #hover-notifications, header #hover-messages, header #hover-account, header #hover-dark-mode {
        top: 5.1rem;
    }

    header #hover-notifications {
        right: 12.3rem;
    }
    
    header #hover-messages {
        right: 8.6rem;
    }
    
    header #hover-account {
        padding-inline: 0.3rem;
        right: 4.6rem;
    }

    header #hover-dark-mode {
        right: -0.1rem;
    }

    /* UPLOAD PHOTO / VIDEO RESPONSIVE SETTINGS */

    header button[id="upload"] {
        font-size: 1.1rem;
        height: 30px;
        width: 75px;
        right: 18rem;
        margin-top: 0.3rem;
    }

    header #upload-files {
        top: 5.5rem;
        width: 120px;
        right: 15.7rem;
    }

    header #upload-files #show-hide-preview {
        font-size: 1.1rem;
    }

    header #upload-files #post-image-preview {
        width: 95px;
    }

    header #upload-files form textarea {
        font-size: 0.9rem;
        height: 50px;
    }

    header #upload-files form button[type='submit'] {
        width: 55%;
    }

    /* POSTS SECTION, FOLLOW SECTION AND REPORT MESSAGE RESPONSIVE SETTINGS */

    #posts-container {
        left: 7%;
        top: 42rem;
    }

    #add-users {
        left: 8.5rem;
        top: 9.5rem;
    }

    #report-message {
        width: 270px;
        height: 125px;
    }

    #report-message p {
        font-size: 2.3rem;
    }

    #report-message i {
        font-size: 3.8rem;
        margin-top: 0.6rem;
    }
}