*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%;
    background-color: hsl(0, 0%, 93%);
}

header {
    display: flex;
    align-items: center;
    background-color: white;
    height: 80px;
    position: relative;
    padding-inline: 2rem;
}

header h1 {
    font-family: 'Poppins';
    font-size: 3.5rem;
}

header h1 a {
    color: black;
    text-decoration: none;
}

header #search-wrapper {
    position: relative;
    margin-left: 1rem;
}

header .fas.fa-magnifying-glass {
    position: absolute;
    font-size: 1.7rem;
    color: gray;
    left: 2.9rem;
    top: 50%;
    transform: translateY(-50%)
}

header #search  {
    height: 45px;
    width: 250px;
    border-radius: 15px;
    padding-left: 3.5rem;
    padding-right: 2rem;
    margin-left: 2rem;
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 94%);
    font-size: 2rem;
    font-family: 'Open Sans'
}

header .fas.fa-bell {
    position: absolute;
    right: 13rem;
    font-size: 3rem;
    cursor: pointer;
}

header #hover-notifications, header #hover-account {
    font-size: 1.5rem;
    background-color: black;
    color: hsl(0, 0%, 84%);
    padding-inline: 0.7rem;
    padding-block: 0.4rem;
    border-radius: 5px;
    position: absolute;
    top: 7rem;
    opacity: 0;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.26, 0.78, 0.8, 0.99);
}

header #hover-notifications {
    right: 9.5rem;
}

header #hover-account {
    right: 2.5rem;
}

header #notification-open:hover ~ #hover-notifications {
    opacity: 1;
}

header #photo-wrapper-onclick:hover ~ #hover-account {
    opacity: 1;
}

header #photo-wrapper-onclick {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    right: 4rem;
    overflow: hidden;
    border: none;
    cursor: pointer;
}

header #photo-wrapper-onclick img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* CHANGE PAGE OPTION */

header #other-pages {
    position: absolute;
    width: 130px;
    font-size: 2rem;
    right: 3.2rem;
    top: 8rem;
    display: none;
}

header #other-pages .window {
    width: 130px;
    padding: 0.5rem;
    padding-left: 1rem;
    background-color: white;
}

header #other-pages #first-window {
    border-radius: 5px 5px 0 0
}

header #other-pages #last-window {
    border-radius: 0 0 5px 5px;
}

header #other-pages .window:hover {
    background-color: hsl(0, 0%, 97%)
}

header #other-pages .fas.fa-caret-up {
    position: absolute;
    right: 0.5rem;
    top: -1.3rem;
    font-size: 2.2rem;
    color: white;
}

header #other-pages p {
    display: inline-block;
    font-family: 'Lato';
    vertical-align: top;
}

header #other-pages a {
    text-decoration: none;
    color: black;
}

header #other-pages i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

header #other-pages .fas.fa-house {
    margin-left: -0.2rem;
    margin-right: 0.35rem;
}

header #other-pages .fas.fa-door-open {
    margin-right: 0.3rem;
    margin-left: -0.15rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -80px;
}

header #info {
    position: absolute;
    width: 250px;
    background-color: white;
    right: 11rem;
    font-size: 1.7rem;
    border-radius: 20px 20px 10px 10px;
    padding: 1rem;
    display: none;
    top: 6rem;
}

header #info i {
    position: absolute;
    right: 1.4rem;
    top: 0.8rem;
    font-weight: bold;
    font-size: 3rem;
    transform: rotate(45deg);
    cursor: pointer;
}

header #info h2 {
    margin-bottom: 0.7rem;
}

header #info .info-text {
    width: 100%;
    position: relative;
    cursor: pointer;
    padding-inline: 0.9rem;
    padding-bottom: 0.7rem;
    border-radius: 5px;
    padding-top: 0.6rem;
}

header #info .info-text .profile-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header #info .info-text p {
    font-size: 1.5rem;
    margin-top: -3.7rem;
    margin-left: 4.5rem;
}

header #info .info-text .circle-notification {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

header #notification-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    font-size: 1.7rem;
    color: white;
    font-family: consolas;
    text-align: center;
    top: -0.5rem;
    right: -0.5rem;
}

/* NOTIFICATION PANEL EFFECTS */

header #info .info-text:hover {
    background-color: hsl(240, 0%, 93%)
}

#settings-content {
    background-color: hsl(0, 0%, 98%);
    position: relative;
    padding-left: 28rem;
    font-size: 2.3rem;
    min-height: 340px;
    box-shadow: 0px 1px 7px gray;
}

#settings-content #change-profile {
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-bottom: 2.4rem;
}

#settings-content #change-profile img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#settings-content #change-profile #change-profile-info {
    margin-left: 6.5rem;
}

#settings-content #change-profile #change-profile-info p {
    margin-bottom: -0.3rem;
}

#settings-content #change-profile #change-profile-info button {
    background-color: hsl(0, 0%, 98%);
    border: none;
    color: hsla(200, 100%, 55%, 1);
    cursor: pointer;
}

/* WINDOW WITH OPTION TO CHANGE PROFILE */

#settings-content #change-profile-image-window {
    background-color: hsl(0, 0%, 84%);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#settings-content #change-profile-image-window label input {
    display: none;
}

#settings-content #change-profile-image-window label {
    background-color: hsla(200, 100%, 55%, 0.5);
    width: 100px;
    height: 35px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

#settings-content #change-profile-image-window label::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    content: 'Choose image';
    font-size: 1.6rem;
}

#settings-content #change-profile-image-window input[type='submit'] {
    margin: 0;
    padding: 0;
}

#settings-content #navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 0;
    height: 100%;
    border-right: 1px solid black;
    padding-right: 1.5rem;
    margin-left: 1rem;
    padding-top: 1rem;
}

#settings-content #navigation hr {
    border-color: black;
    width: 112%;
    margin-left: -1rem;
}

#settings-content #navigation h3 {
    display: inline-block;
    cursor: pointer;
    width: 280px;
    height: 50px;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1.5rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    font-weight: 400;
}

#settings-content #navigation h3:hover {
    background-color: hsl(0, 0%, 92%)
}

#settings-content form {
    margin-left: 3rem;
}

#settings-content .info {
    width: 500px;
    margin-bottom: 0.5rem;
}

#settings-content .info p {
    font-family: 'Lato';
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.9rem;
}

#settings-content .info input {
    padding-inline: 1rem;
    vertical-align: top;
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 2px;
    border: 1px solid rgb(220, 220, 220);
}

#settings-content .info input[type='number']::-webkit-inner-spin-button {
    display: none;
}

#settings-content form input[type='submit'] {
    padding-inline: 1rem;
    width: 80px;
    height: 30px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background-color: hsla(200, 100%, 55%, 0.5);
    margin-left: 117px; 
    margin-bottom: min(20px)
}

#settings-content form input[value="Change password"] {
    width: 140px;
}

@media only screen and (max-width: 850px) {

    /* SETTINGS CONTENT NAVIGATION (LEFT SIDE)*/

    #settings-content {
        width: 450px;
        padding-left: 145px;
    }

    #settings-content #navigation h3:nth-of-type(3) {
        padding-top: 0.3rem;
    }

    #settings-content #navigation h3 {
        font-size: 2rem;
        width: 140px;
        padding-top: 1.3rem;
    }

    /* SETTINGS CONTENT RIGHT SIDE, INFORMATIONS RESPONSIVE SETTINGS*/

    #settings-content .info {
        width: 205px;
    }

    #settings-content .info p {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-right: -2rem;
    }

    #settings-content .info p {
        min-width: 100px;
    }

    #settings-content .info .info-to-change-hobby-education {
        min-width: 70px
    }

    #settings-content .info .info-to-change-contact {
        min-width: 80px;
    }

    #settings-content .info .info-to-change-people {
        min-width: 150px;
    }

    #settings-content .info .change-password-info{
        min-width: 160px;
    }

    #settings-content .info input {
        margin-top: -1rem;
    }

    #settings-content form input[type='submit'] {
        margin-left: 0px !important;
        margin-top: 1rem;
    }

    /* SETTINGS CONTENT RIGHT SIDE, CHANGE PROFILE RESPONSIVE SETTINGS*/

    #settings-content #change-profile #change-profile-info p:nth-of-type(1) {
        font-size: 2rem;
    }

    #settings-content #change-profile #change-profile-info p:nth-of-type(2) {
        font-size: 1.5rem;
        margin-top: 0.2rem;
    }

    #settings-content #change-profile img {
        width: 40px;
        height: 40px;
    }

    /* HEADER RESPONSIVE SETTINGS */

    header h1 {
        font-size: 2.7rem;
    }

    header #search-wrapper {
        width: 240px;
    }

    header #search-wrapper input[type="text"] {
        width: 220px;
        height: 36px;
        font-size: 1.7rem;
    }

    header .fas.fa-magnifying-glass {
        font-size: 1.4rem;
        color: gray;
        left: 3.2rem;
        top: 53%;
        transform: translateY(-50%)
    }

    header .fas.fa-bell {
        font-size: 2.6rem;
    }

    header .fas.fa-bell #notification-icon {
        width: 16px;
        height: 16px;
        font-size: 1.5rem;
    }

    header #photo-wrapper-onclick {
        width: 32px;
        height: 32px;
    }

    /* HEADER OTHER PAGES WINDOW RESPONSIVE SETTINGS */
    header #other-pages .window p {
        font-size: 1.5rem;
        margin-top: 0.4rem;
    }
}

@media only screen and (max-width: 600px) {
    /* HEADER RESPONSIVE SETTINGS */

    header .fas.fa-bell {
        margin-right: -4rem;
    }

    header #photo-wrapper-onclick {
        margin-right: -1rem;
    }

    header #search-wrapper {
        width: 200px;
    }

    header #search-wrapper input[type="text"] {
        width: 180px;
        font-size: 1.52rem;
    }

    header #search-wrapper i {
        font-size: 1.25rem;
        margin-left: 0.2rem;
    }

    /* HEADER APPEARING WINDOWS RESPONSIVE SETTINGS */

    header #other-pages {
        right: 2.9rem;
    }

    header #info {
        right: 8rem;
        font-size: 1.6rem;
    }

    header #info .info-text p {
        font-size: 1.5rem;
        margin-left: 5rem;
        width: 130px;
    }
    
    header #info .info-text .circle-notification {
        margin-right: 1rem;
    }

    header #hover-notifications {
        right: 6rem;
    }

    header #hover-account {
        right: 1.4rem;
    }
}

@media only screen and (min-width: 851px) {
    #settings-content .info p {
        min-width: 100px;
    }

    #settings-content .info .info-to-change-hobby-education {
        min-width: 70px
    }

    #settings-content .info .info-to-change-contact {
        min-width: 80px;
    }

    #settings-content .info .info-to-change-people {
        min-width: 150px;
    }

    #settings-content .info .change-password-info{
        min-width: 160px;
    }
}