{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'login-registration/login-registration.css' %}" rel="stylesheet">
        <title>Registration page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Fakebook</h1>
        </header>
        <main id="background">
            <fieldset>
                <input type="checkbox" id="on-off"> 

                <form id="registration-section" action="signup" method="POST">
                    {% csrf_token %}
                    <h1>Register</h1>
                    <input type="text" required minlength='4' maxlength="50" placeholder="Username" name="username">
                    <input type="email" required minlength='8' maxlength="50" placeholder="Email" name="email">
                    <input type="password" required minlength='6' maxlength="50" placeholder="Password" name="password1">
                    <input type="password" required minlength='6' maxlength="50" placeholder="Repeat Password" name="password2">
                    <input type="text" maxlength="50" placeholder="First name" name="firstname">
                    <input type="text" maxlength="50" placeholder="Last name" name="lastname">
                    <button>Register</button>
                </form>

                <form id="login-section" action="signin" method="POST">
                    {% csrf_token %}
                    <label for="on-off">
                        <h1>Login</h1>
                    </label>
                    <input type="text" required maxlength="50" placeholder="Username" name="username">
                    <input type="password" required maxlength="50" placeholder="Password" name="password">
                    <button>Login</button>
                </form>
            </fieldset> 
        </main>
    </body>
</html>