{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'profile-files/profile.css' %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a18d53579f.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
        <title>Profile</title>
    </head>
    <body>
        <header id="first-header">
            <div id="background-image"><img src="{{user_profile.wallpaper_img.url}}"></div>
            <div id="foreground-image"><img src="{{user_profile.profile_img.url}}"></div>

            <!-- NAVIGATION TO OTHER PAGES -->

            <a href="/">
                <div class="navigation" id="home">
                    <i class="fas fa-house"></i>
                    <p id="home-text">home</p>
                </div>
            </a>

            <a href="/settings">
                <div class="navigation" id="settings">
                    <i class="fas fa-gear"></i>
                    <p id="settings-text">settings</p>
                </div>
            </a>

            <div id="informations">
                <h3>{{user_profile.first_name}} {{user_profile.last_name}} @{{user_profile.user}}</h3>
                <p class="bold" style="color: gray;">{{count_friends}} Friends</p>
                <div id="profiles-wrapper">
                    <img class="profile-friend" src="{% static 'images/pexels-andrea-piacquadio-837358.jpg' %}">
                    <img class="profile-friend" src="{% static '/images/pexels-djordje-petrovic-2102416.jpg' %}">
                    <img class="profile-friend" src="{% static '/images/pexels-pixabay-39866.jpg' %}">
                    <img class="profile-friend" src="{% static '/images/pexels-natalie-12502186.jpg' %}">
                    <img class="profile-friend" src="{% static '/images/pexels-charles-1851164.jpg' %}">
                    <i class="fas fa-ellipsis-vertical"></i>
                </div>
            </div>
            {% if user_object.username == user.username %}
            <button type="submit"><a href="/settings">Edit profile</a></button>
            {% elif if_friends %}
            <button type="submit"><a href="/add_or_remove_friend/{{user_object.username}}/remove">Remove friend</a></button>
            {% else %}
            <button type="submit"><a href="/friend_request/{{user_object.username}}">Add friend</a></button>
            {% endif %}
            <hr>
            <div id="sections">
                <p id="posts">Posts</p>
                <hr id="posts-underline" class="underline">
                <p id="photos">Photos</p>
                <hr id="photos-underline" class="underline">
                <p id="about">About</p>
                <hr id="about-underline" class="underline">
                <p id="friends">Friends</p>
                <hr id="friends-underline" class="underline">
            </div>
        </header>

        <!-- REPORT MESSAGE TO APPEAR -->

        <div id="report-background">
            <div id="report-message">
                <i class="fas fa-user-secret"></i>
                <p>Thank you! We will check this problem.</p>
            </div>
        </div>

        <!--POSTS SECTION -->

        <div id="container-posts-section">
            <div id="additional-info-posts-section">
                <div id="user-info">
                    <h2>User info</h2>
                    <i class="fas fa-house"></i>
                    <p>Lives in: <span id="live-place" class="bold">{{user_profile.current_location}}</span></p>
                    <i class="fas fa-location-dot"></i>
                    <p>From: <span id="from-place" class="bold">{{user_profile.location}}</span></p>
                    <i class="fas fa-scroll"></i>
                    <p>Hobbies: <span id="hobby" class="bold">{{user_profile.hobby}}</span></p>
                </div>

                <div id="photos-about-section">
                    <h2>Photos</h2>
                    {% for post in user_posts %}
                    <span><img src="{{post.image.url}}"></span>
                    {% endfor %}
                </div>

                <div id="friends-about-section">
                    <h2>Friends</h2>
                    <p id="friends-num">{{count_friends}} friends</p>
                    <p class="all">See All Friends</p>
                    {% for person in user_friends %}
                    <div class="friend">
                        <img src="{{person.profile.profile_img.url}}">
                        <h4>{{person}}</h4>
                        <p class="number-of-friends">100 mutual friends</p>
                        <i class="fas fa-ellipsis-vertical"></i>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <!-- ADD POST SECTION -->

            <div id="add-post">
                <img id="profile" src="{{user_profile.profile_img.url}}">
                <input type="text" placeholder="Do you want to write something?">
                <hr>
                <div id="add-interactions">
                    <label for="image">
                        <i class="fas fa-image"></i>
                        <p>Image</p>
                    </label>
                    <label for="video">
                        <i class="fas fa-video"></i>
                        <p>Video</p>
                    </labeL>
                    <input type="file" accept=".jpg" id="image">
                    <input type="file" accept=".mp4" id="video">
                </div>
            </div>

            <!-- POSTS IN POSTS SECTION -->

            <div id="posts-container">
                {% for post in user_posts %}
                <div class="post">
                    <header>
                        <div id="profile-wrapper"><img src="{{user_profile.profile_img.url}}"></div>
                        <p>{{user_profile.user}}</p>
                        <button class="post-options-button"><i class="fas fa-ellipsis"></i></button>
                    </header>
                    <div class="post-options">
                        <i class="fas fa-play"></i>
                        <button class="report">report post</button>
                        {% if user.username == user_object.username %}
                        <button class="delete"><a href="/delete_post/{{post.id}}">delete post</a></button>
                        {% endif %}
                    </div>
                    <div id="image-wrapper">
                        <img src="{{post.image.url}}">
                    </div>
                    <div id="reactions">
                        {% if post.number_of_likes == 0 %}
                        <p>Liked by <span id="bold">no one</span></p>
                        {% elif post.number_of_likes == 1 %}
                        <p>Liked by <span id="bold">{{post.number_of_likes}} person </span></p>
                        {% elif post.number_of_likes > 1 %}
                        <p>Liked by <span id="bold">{{post.number_of_likes}} people</span></p>
                        {% endif %}
                        <div id="profiles-wrapper">
                            <div id="profile-wrapper"><img src="{% static '/images/Gryz-Szymon.jpeg' %}"></div>
                            <div id="profile-wrapper"><img src="{% static '/images/pexels-charles-1851164.jpg' %}"></div>
                            <div id="profile-wrapper"><img src="{% static '/images/pexels-djordje-petrovic-2102416.jpg' %}"></div>
                        </div>
                    </div>
                    <div id="interactions">
                        <i class="fas fa-thumbs-up"></i>
                        <a href="/like_post?post_id={{post.id}}"></a>
                        <label for="comment-input"><i class="fas fa-message"></i></label>
                        <i class="fas fa-share"></i>
                    </div>
                    <div id="comments">
                        <div id="comment-messages">
                            <div id="comment">
                                <div id="comment-content">
                                    <div id="profile-wrapper"><img src="{% static '/images/pexels-charles-1851164.jpg' %}"></div>
                                    <p>💕</p>
                                </div>
                            </div>
                            <div id="comment">
                                <div id="comment-content">
                                    <div id="profile-wrapper"><img src="{% static '/images/Gryz-Szymon.jpeg' %}"></div>
                                    <p>😎</p>
                                </div>
                            </div>
                            <div id="comment">
                                <div id="comment-content">
                                    <div id="profile-wrapper"><img src="{% static '/images/pexels-pixabay-39866.jpg' %}"></div>
                                    <p>Looks good!</p>
                                </div>
                            </div>
                        </div>
                        <input type="text" placeholder="post a comment" id="comment-input">
                        <input type="file" accept=".jpg" id="image">
                        <input type="file" accept=".mp4" id="video">
                        <label for="image"><i class="fas fa-image"></i></label>
                        <label for="video"><i class="fas fa-video"></i></label>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        <!-- PHOTOS SECTION -->

        <div id="photos-section">
            <div id="photos-about-section">
                <h2>Photos</h2>
                {% for post in user_posts %}
                <span><img src="{{post.image.url}}"></span>
                {% endfor %}
            </div>
        </div>

        <!-- ABOUT SECTION -->

        <div id="about-section">
            <div id="personal-info">
                <h2>About</h2>

                <h3>Places lived</h3>

                <div class="change-value">
                    <form method="POST" action="/about_current_place">
                    {% csrf_token %}
                    <input type="hidden" name="profile_name" value="{{user_object.username}}">
                    <input name='live_place' type="text" class="new-changes" required>
                    <input type="submit" value="Save" class="save">
                    <input type="submit" value="Close" class="close">
                    <span>live place</span>
                    </form>
                </div>

                <i class="fas fa-house left"></i>
                <p class="personal-info">Live in: <span class="bold current-value">{{user_profile.current_location}}</span></p>
                <i class="fas fa-pencil right open-window"></i>

                <div class="change-value other-place">
                    <form method="POST" action="/about_from_place">
                    {% csrf_token %}
                    <input type="hidden" name="profile_name" value="{{user_object.username}}">
                    <input name="from_place" type="text" class="new-changes" required>
                    <input type="submit" value="Save" class="save">
                    <input type="submit" value="Close" class="close">
                    <span>from</span>
                    </form>
                </div>

                <i class="fas fa-location-dot left"></i>
                <p class="personal-info">From: <span class="bold current-value">{{user_profile.location}}</span></p>
                <i class="fas fa-pencil right open-window"></i>

                <h3>Education - Hobby</h3>

                <div class="change-value">
                    <form method="POST" action="/about_school">
                    {% csrf_token %}
                    <input type="hidden" name="profile_name" value="{{user_object.username}}">
                    <input name="school" type="text" class="new-changes" required>
                    <input type="submit" value="Save" class="save">
                    <input type="submit" value="Close" class="close">
                    <span>current school</span>
                    </form>
                </div>

                <i class="fas fa-school left"></i>
                <p class="personal-info">Current school: <span class="bold current-value">{{user_profile.school}}</span></p>
                <i class="fas fa-pencil right open-window"></i>

                <div class="change-value other-place">
                    <form method="POST" action="/about_hobby">
                    {% csrf_token %}
                    <input type="hidden" name="profile_name" value="{{user_object.username}}">
                    <input name="hobby" type="text" class="new-changes" required>
                    <input type="submit" value="Save" class="save">
                    <input type="submit" value="Close" class="close">
                    <span>hobbies</span>
                    </form>
                </div>

                <i class="fas fa-scroll left"></i>
                <p class="personal-info">Hobbies: <span class="bold current-value">{{user_profile.hobby}}</span> </p>
                <i class="fas fa-pencil right open-window"></i>

                <h3>Contact info</h3>

                <div class="change-value">
                    <form method="POST" action="/about_number">
                    {% csrf_token %}
                    <input type="hidden" name="profile_name" value="{{user_object.username}}">
                    <input name="hobby" type="text" class="new-changes" required>
                    <input type="submit" value="Save" class="save">
                    <input type="submit" value="Close" class="close">
                    <span>number</span>
                    </form>
                </div>

                <i class="fas fa-phone left"></i>
                <p class="personal-info">Number: <span class="bold current-value">{{user_profile.number}}</span></p>
                <i class="fas fa-pencil right open-window"></i>

                <div class="change-value other-place">
                    <form method="POST" action="/about_email">
                    {% csrf_token %}
                    <input type="hidden" name="profile_name" value="{{user_object.username}}">
                    <input name="email" type="text" class="new-changes" required>
                    <input type="submit" value="Save" class="save">
                    <input type="submit" value="Close" class="close">
                    <span>e-mail</span>
                    </form>
                </div>

                <i class="fas fa-envelope left"></i>
                <p class="personal-info">E-mail: <span class="bold current-value">{{user_profile.email}}</span></p>
                <i class="fas fa-pencil right open-window"></i>

                <h3>Basic info</h3>

                <div class="change-value">
                    <form method="POST" action="/about_gender">
                    {% csrf_token %}
                    <input type="hidden" name="profile_name" value="{{user_object.username}}">
                    <input class="new-changes unused">
                    <select name="gender">
                        <option disabled selected>Select your option</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <input type="submit" value="Save" class="save select">
                    <input type="submit" value="Close" class="close select">
                    </form>
                </div>

                <i class="fas fa-person left"></i>
                <p class="personal-info">Gender <span class="bold current-value"> Male</span></p>
                <i class="fas fa-pencil right open-window"></i>

                <div class="change-value">
                    <form method="POST" action="/about_year">
                    {% csrf_token %}
                    <input type="hidden" name="profile_name" value="{{user_object.username}}">
                    <input name="birthyear" type="text" class="new-changes" required>
                    <input type="submit" value="Save" class="save">
                    <input type="submit" value="Close" class="close">
                    <span>year</span>
                    </form>
                </div>

                <i class="fas fa-cake-candles left"></i>
                <p class="personal-info">Birth date <span class="bold current-value">{{user_profile.birthday}}</span></p>
                <i class="fas fa-pencil right open-window"></i>

                <div class="change-value last">
                    <form method="POST" action="/about_relationship">
                    {% csrf_token %}
                    <input type="hidden" name="profile_name" value="{{user_object.username}}">
                    <input name="relationship" type="text" class="new-changes" required>
                    <input type="submit" value="Save" class="save">
                    <input type="submit" value="Close" class="close">
                    <span>relationship</span>
                    </form>
                </div>

                <i class="fas fa-children left"></i>
                <p class="personal-info relation">Relationship <span class="bold current-value">{{user_profile.relationship}}</span></p>
                <i class="fas fa-pencil right open-window"></i>

            </div>

                <div id="friends-about-section">
                    <h2>Friends</h2>
                    <p id="friends-num">{{count_friends}} friends</p>
                    <p class="all">See All Friends</p>

                    {% for person in user_friends %}
                    <div class="friend">
                        <img src="{{person.profile.profile_img.url}}">
                        <h4>{{person.username}}</h4>
<!--                        TODO- in mutual friend p tag maybe paste a user bio.-->
                        <p class="number-of-friends" class="number-of-friends">100 mutual friends</p>
                        <button class="friend-options-on"><i class="fas fa-ellipsis-vertical"></i></button>
                        <div class="friend-options-window">
                            <div class="friend-option favourite">
                                <i class="fas fa-heart"></i>
                                <p>Favourite</p>
                            </div>

                            <div class="friend-option follow-option">
                                <i class="fas fa-square-minus"></i>
                                <p class="follow-text">Unfollow</p>
                            </div>

                            <div class="friend-option unfriend">
                                <i class="fas fa-user-xmark"></i>
                                <p>Unfriend</p>
                            </div>
                        </div>
                        <button class="add-friend">Add Friend</button>
                    </div>
                    {% endfor %}

                </div>
            </div>

            <!-- ALL FRIENDS SECTION -->

            <div id="friends-section">
                <div id="friends-about-section">
                    <h2>Friends</h2>
                    <p id="friends-num">{{count_friends}} friends</p>

                    {% for person in user_friends %}
                    <div class="friend">
                        <img src="{{person.profile.profile_img.url}}">
                        <h4>{{person}}</h4>
                        <p class="number-of-friends" class="number-of-friends">100 mutual friends</p>
                        <button class="friend-options-on"><i class="fas fa-ellipsis-vertical"></i></button>
                        <div class="friend-options-window">
                            <div class="friend-option favourite">
                                <i class="fas fa-heart"></i>
                                <p>Favourite</p>
                            </div>

                            <div class="friend-option follow-option">
                                <i class="fas fa-square-minus"></i>
                                <p class="follow-text">Unfollow</p>
                            </div>

                            <div class="friend-option unfriend">
                                <i class="fas fa-user-xmark"></i>
                                <p>Unfriend</p>
                            </div>
                        </div>
                        <button class="add-friend">Add Friend</button>
                    </div>
                    {% endfor %}

                </div>
            </div>
        <script type="text/javascript" src="{% static 'profile-files/profile.js' %}"></script>
    </body>
</html>