{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a18d53579f.js" crossorigin="anonymous"></script>
        <link href="{% static '/settings-page/settings.css' %}" rel="stylesheet">
        <title>Settings page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Open Sans&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Fakebook</h1>
            <div id="search-wrapper">
                <i class='fas fa-magnifying-glass'></i>
                <input type="text" id="search" placeholder="Search fakebook">
            </div>

            <a href="/" id="main-page-connection"><i class="fas fa-house"></i></a>

            <span id="hover-house">Home</span>

            <i class="fas fa-bell" id="notification-open"><span id="notification-icon"></span></i>

            <span id="hover-notifications">Notifications</span>

            <div id="info">
                <h2>Notifications</h2>
                <i id="close-notifications">+</i>                               
                <div class="info-text">                                   
                    <img class="profile-wrapper" src="/images/pexels-charles-1851164.jpg">
                    <p class="info-content">Charles has a birthday today.</p>
                    <i class="circle-notification"></i>
                </div>
                <div class="info-text">                                   
                    <img class="profile-wrapper" src="/images/pexels-charles-1851164.jpg">
                    <p class="info-content">Charles has a birthday today.</p>
                    <i class="circle-notification"></i>
                </div>
            </div>

            <img class="profile" src="/images/Gryz-Szymon.jpeg">
        </header>
        <main>
            <div id="settings-content">
                <div id="navigation">
                    <h3 class="activate-form">Basic Info</h3>
                    <h3 class="activate-form">Location</h3>
                    <h3 class="activate-form">Hobby and education</h3>
                    <h3 class="activate-form">Contact</h3>
                    <h3 class="activate-form">People</h3>
                    <h3 class="activate-form">Password</h3>
                </div>
<!--                Change profile picture.-->
                <form id="change-profile">
                    <img src="{{user_profile.profile_image.url}}" class="profile">
                    <div id="change-profile-info">
                        <p>{{user.username}}</p>
                        <p>Change your profile</p>
                    </div>
                </form>
<!--                Basic info.-->
                <form id="basic-info" class="forms">

                    <div class="info">
                        <p class='info-to-change-basic'>First Name</p>
                        <input type="text" placeholder="First name" name="firstname">
                    </div>

                    <div class="info">
                        <p class='info-to-change-basic'>Last Name</p>
                        <input type="text" placeholder="Last name" name="lastname">
                    </div>

                    <div class="info">
                        <p class='info-to-change-basic'>Gender</p>
                        <input type="text" placeholder="Gender" name="gender">
                    </div>

                    <div class="info">
                        <p class='info-to-change-basic'>Birth date</p>
                        <input type="text" placeholder="Birth date" name="birthdate">
                    </div>

                    <input type="submit" class="submit-button">

                </form>
<!--                Location -live place, from-->
                <form id="live-places" class="forms">

                    <div class="info">
                        <p class='info-to-change-places'>Live place</p>
                        <input type="text" placeholder="Live place" name="liveplace">
                    </div>

                    <div class="info">
                        <p class='info-to-change-places'>From</p>
                        <input type="text" placeholder="From" name="from">
                    </div>

                    <input type="submit" class="submit-button">

                </form>
<!--            Hobby and education-->
                <form id="hobby-education" class="forms">

                    <div class="info">
                        <p class='info-to-change-hobby-education'>Hobby</p>
                        <input type="text" placeholder="Hobby" name="hobby">
                    </div>

                    <div class="info">
                        <p class='info-to-change-hobby-education'>School</p>
                        <input type="text" placeholder="School" name="school">
                    </div>

                    <input type="submit" class="submit-button">

                </form>
<!--            contact.-->
                <form id="contact" class="forms">

                    <div class="info">
                        <p class='info-to-change-contact'>Number</p>
                        <input type="number" placeholder="Number" name="number">
                    </div>

                    <div class="info">
                        <p class='info-to-change-contact'>E-mail</p>
                        <input type="email" placeholder="E-mail" name="email">
                    </div>

                    <input type="submit" class="submit-button">

                </form>
<!--            Relationship-->
                <form id="close-people" class="forms" >

                    <div class="info">
                        <p class='info-to-change-people'>Relationship</p>
                        <input type="text" placeholder="Relationship" name="relationship">
                    </div>

                    <div class="info">
                        <p class='info-to-change-people'>Family members</p>
                        <input type="text" placeholder="Family members" name="family">
                    </div>

                    <input type="submit" class="submit-button">

                </form>
<!--            Password section-->
                <form id="change-password" class="forms">

                    <div class="info">
                        <p class="change-password-info">Old password</p>
                        <input placeholder="Old password" name="old_password">
                    </div>
                    
                    <div class="info">
                        <p class="change-password-info">New password</p>
                        <input placeholder="New password" minlength = '6' name="new_password1">
                    </div>

                    <div class="info">
                        <p class="change-password-info">Repeat password</p>
                        <input placeholder="Repeat password" name="new_password2">
                    </div>

                    <input type="submit" class="submit-button" value="Change password">
                </form>

            </div>

        </main>
        <script type="text/javascript" src="{% static '/settings-page/settings.js' %}"></script>
    </body>
</html>