{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a18d53579f.js" crossorigin="anonymous"></script>
        <link href="{% static 'settings-page/settings.css' %}" rel="stylesheet">
        <title>Settings page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Open Sans&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1><a href="/">Fakebook</a></h1>
            <div id="search-wrapper">
                <i class='fas fa-magnifying-glass'></i>
                <input type="text" id="search" placeholder="Search fakebook">
            </div>

            <i class="fas fa-bell" id="notification-open"><span id="notification-icon"></span></i>

            <span id="hover-notifications">Notifications</span>

            <div id="info">
                <h2>Notifications</h2>
                <i id="close-notifications">+</i>                               
                <div class="info-text">                                   
                    <img class="profile-wrapper" src="/images/pexels-charles-1851164.jpg">
                    <p class="info-content">Charles has a birthday today.</p>
                    <i class="circle-notification"></i>
                </div>
                <div class="info-text">                                   
                    <img class="profile-wrapper" src="/images/pexels-charles-1851164.jpg">
                    <p class="info-content">Charles has a birthday today.</p>
                    <i class="circle-notification"></i>
                </div>
            </div>

            <button id="photo-wrapper-onclick"><img src="{{user_profile.profile_img.url}}"></button>

            <span id="hover-account">Account</span>

            <div id="other-pages">
                <i class="fas fa-caret-up"></i>
                <a href="/">
                    <div class="window" id="first-window">
                        <i class='fas fa-house'></i>
                        <p>Home</p>
                    </div>
                </a>

                <a href="/profile/{{user.username}}">
                    <div class="window">
                        <i class="fas fa-user"></i>
                        <p>Profile</p>
                    </div>
                </a>

                <a href="logout">
                    <div class="window" id="last-window">
                        <i class="fas fa-door-open"></i>
                        <p>Log Out</p>
                    </div>
                </a>
            </div>

        </header>

        <main>
            <div id="settings-content">
                <div id="navigation">
                    <h3 class="activate-form">Basic Info</h3>
                    <h3 class="activate-form">Location</h3>
                    <h3 class="activate-form">Hobby and education</h3>
                    <h3 class="activate-form">Contact</h3>
                    <h3 class="activate-form">People</h3>
                    <h3 class="activate-form">Password</h3>
                </div>
<!--                Change profile picture.-->
                <div id="change-profile">
                    <img src="{{user_profile.profile_img.url}}" class="profile">
                    <div id="change-profile-info">
                        <p>{{user.username}}</p>
                        <button id="change-profile-image-button">Change your profile image</button>
                    </div>
                </div>

                <form id="change-profile-image-window" action="change_profile_image" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="choose-image" id="choose-image-label">
                        <input type="file" accept=".jpg" id="choose-image" name="profile_image">
                    </label>
<!--                    <input type="submit" value="Upload" id="upload-image" name="profile_image">-->
                    <input type="submit" class="submit-button">
                </form>

<!--                Basic info.-->
                <form id="basic-info" class="forms" action="profile_basic_info" method="POST">

                    {% csrf_token %}
                    <div class="info">
                        <p class='info-to-change-basic'>First Name</p>
                        <input type="text" placeholder="{{user_profile.first_name}}" name="firstname">
                    </div>

                    <div class="info">
                        <p class='info-to-change-basic'>Last Name</p>
                        <input type="text" placeholder="{{user_profile.last_name}}" name="lastname">
                    </div>

                    <div class="info">
                        <p class='info-to-change-basic'>Gender</p>
                        <input type="text" placeholder="{{user_profile.gender}}" name="gender">
                    </div>

                    <div class="info">
                        <p class='info-to-change-basic'>Birth date</p>
                        <input type="text" placeholder="DD-MM-YYYY" name="birthdate">
                    </div>

                    <input type="submit" class="submit-button">

                </form>
<!--                Location -live place, from-->
                <form id="live-places" class="forms" action="profile_location" method="POST">
                    {% csrf_token %}
                    <div class="info">
                        <p class='info-to-change-places'>Live place</p>
                        <input type="text" placeholder="{{user_profile.current_location}}" name="liveplace">
                    </div>

                    <div class="info">
                        <p class='info-to-change-places'>From</p>
                        <input type="text" placeholder="{{user_profile.location}}" name="from">
                    </div>

                    <input type="submit" class="submit-button">

                </form>
<!--            Hobby and education-->
                <form id="hobby-education" class="forms" action="profile_hobby" method="POST">
                    {% csrf_token %}
                    <div class="info">
                        <p class='info-to-change-hobby-education'>Hobby</p>
                        <input type="text" placeholder="{{user_profile.hobby}}" name="hobby">
                    </div>

                    <div class="info">
                        <p class='info-to-change-hobby-education'>School</p>
                        <input type="text" placeholder="{{user_profile.school}}" name="school">
                    </div>

                    <input type="submit" class="submit-button">

                </form>
<!--            contact.-->
                <form id="contact" class="forms" action="profile_contact" method="POST">
                    {% csrf_token %}
                    <div class="info">
                        <p class='info-to-change-contact'>Number</p>
                        <input type="number" placeholder="{{user_profile.number}}" name="number">
                    </div>

                    <div class="info">
                        <p class='info-to-change-contact'>E-mail</p>
                        <input type="email" placeholder="{{user_profile.email}}" name="email">
                    </div>

                    <input type="submit" class="submit-button">

                </form>
<!--            Relationship-->
                <form id="close-people" class="forms" action="profile_relationship"  method="POST">
                    {% csrf_token %}
                    <div class="info">
                        <p class='info-to-change-people'>Relationship</p>
                        <input type="text" placeholder="{{user_profile.relationship}}" name="relationship">
                    </div>

                    <div class="info">
                        <p class='info-to-change-people'>Family members</p>
                        <input type="text" placeholder="{{user_profile.family}}" name="family">
                    </div>

                    <input type="submit" class="submit-button">

                </form>
<!--            Password section-->
                <form id="change-password" class="forms" action="profile_password" method="POST">
                    {% csrf_token %}
                    <div class="info">
                        <p class="change-password-info">Old password</p>
                        <input placeholder="Old password" name="old_password">
                    </div>
                    
                    <div class="info">
                        <p class="change-password-info">New password</p>
                        <input placeholder="New password" minlength = '6' name="new_password1">
                    </div>

                    <div class="info">
                        <p class="change-password-info">Repeat password</p>
                        <input placeholder="Repeat password" name="new_password2">
                    </div>

                    <input type="submit" class="submit-button" value="Change password">
                </form>

            </div>

        </main>
        <script type="text/javascript" src="{% static 'settings-page/settings.js' %}"></script>
    </body>
</html>